<aside class="main-sidebar">

    <section class="sidebar">

        <ul class="sidebar-menu">

            <li>
                <a href="#!/ar/patient/patientHistory">
                    <img src="dist/img/history.svg" />
                    <span>الروشتات والتحاليل</span>
                </a>
            </li>

            <!--<li class="mar_top16"><a href="#!/patient"><i class="fa fa-home"></i> <span>Profile</span></a></li>-->

            <li>
                <a ng-show="vm.cardAssigndFlag" href="#!/ar/patient/docs">
                    <img src="dist/img/PHR.svg" />
                    <span>اضافة بيانات</span>
                </a>
            </li>
            
            <li>
                <a href="#!/ar/patient/doctorLog">
                    <img src="dist/img/search-user.svg" /> 
                    <span>سجل الاطباء</span>
                </a>
            </li>
            
            <li>
                <a ng-show="!vm.cardAssigndFlag" href="#!/ar/patient/qr">
                    <img src="dist/img/id-card.svg" /> 
                    <span>تخصيص الكارت </span>
                </a>
            </li>
            
            <!--<li><a href="#!/patient/setting"> <img src="dist/img/setting.svg" /> <span>Settings</span></a></li>-->

        </ul>

    </section>
</aside>
