<div class="wrapper">

	<!-- Main Header -->
	<div ng-include="'app-resources/patient/patientLayout/header_AR.html'"></div>
	<!--aside-->
	<div ng-controller="PatientHomeControllerAR as vm" ng-include="'app-resources/patient/patientLayout/aside_AR.html'"></div>


	<div class="content-wrapper" >
		<section class="content-header">
			<h1>{{ vm.selectedDoctor.doctorName}}</h1>
			<!--<ol class="breadcrumb">-->
				<!--<li><a href="#!/login" ng-click="vm.logOut()"><i class="fa fa-dashboard"></i> Sign out</a></li>-->
			<!--</ol>-->
		</section>

	<section class="content">

		<div class="head">
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12">
					<img class="img-responsive" src="{{vm.selectedDoctor.picture}}"/>
				</div>

				<div class="col-md-10 col-sm-6 col-xs-12">
					<p class="col-xs-12 header1"><strong>{{ vm.selectedDoctor.doctorName }}</strong></p>
					<p class="col-xs-12"><span>الايميل :</span>{{ vm.selectedDoctor.email }}</p>
					<p class="col-xs-12"><span>النوع : </span> {{ vm.selectedDoctor.gender }} </p>
					<p class="col-xs-12"><span>التخصص : </span> {{ vm.selectedDoctor.specialty }} </p>
					<p class="col-md-7"><span>التخصص الفرعي : </span> {{ vm.selectedDoctor.subSpecialty }}</p>
				</div>
			</div>
		</div>

		<div class="data">
			<div class="box box-danger">
				<div class="bio">
					<h3>نبذة مختصرة :</h3>
					<!--<button type="button" class="btn btn-box-tool" style="color:#000; float:right; margin-top:-3.6%;"><i class="fa fa-pencil fa-lg"></i></button>-->
					<p>{{vm.doctor.briefProfile}}</p>
				</div>

				<div class="bio">
					<h3>السيرة الذاتية :</h3>
					<!--<button type="button" class="btn btn-box-tool" style="color:#000; float:right; margin-top:-3.6%;"><i class="fa fa-pencil fa-lg"></i></button>-->
					<ul>
						<li>{{vm.doctor.bio}}</li>
					</ul>
				</div>

				<div class="clinic bio" >
					<h3>عيادات الدكتور : </h3>
					<div  class="row">

						<div data-ng-repeat="clinic in vm.Clinics"  class="col-md-4 col-sm-12">
							<div  class="clin">
								<p><strong>{{clinic.areaLocation}}</strong></p>
								<p><span>المحافظة : </span> {{clinic.governmentLocation}}</p>
								<p><span>العنوان : </span> {{clinic.address}}</p>
								<p><span>رقم التليفون 1 : </span> {{clinic.phone1}}</p>
								<p><span>رقم التليفون 2 : </span> {{clinic.phone2}}</p>
								<p><span>رقم التليفون 3 : </span> {{clinic.phone3}}</p>
								<!--<div class="butn"> <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Reservation  Form</button> </div>-->
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>

	</div>
	<!-- Main Footer -->
	<div ng-include="'app-resources/layout/footer.html'"></div>

</div>