<div class="wrapper" >

    <!-- Main Header -->
    <div ng-include="'app-resources/patient/patientLayout/header.html'"></div>
    <!--aside-->
    <div ng-controller="PatientHomeController as vm"  ng-include="'app-resources/patient/patientLayout/aside.html'"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="data">
                <div class="box box-danger">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-header">
                                <h3 class="box-title">Doctors</h3>

                                <div class="form-group1">
                                    <label class="col-sm-2 control-label">Search</label>

                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="vm.query['doctorName']" placeholder="Search....." type="search">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="patients">
                        <div class="row">
                            <div ng-repeat="doctor in vm.allDoctors |  filter:vm.query" class="col-md-6">
                                <div class="patient">

                                    <a class="col-md-4 col-sm-6" style="width: 114px;height: 100px;" href="#!/patient/doctorProfile" ng-click="vm.viewDoctorProfile(doctor)">
                                        <img style="width:110px" src="{{doctor.picture}}" />
                                    </a>

                                    <div class="col-md-8 col-sm-6 date">
                                        <a href="#!/patient/doctorProfile" ng-click="vm.viewDoctorProfile(doctor)">

                                            <p style="color: deepskyblue;">{{doctor.specialty}}</p>
                                            <p class="doc_name">{{doctor.doctorName}}</p>
                                            <p class="grayColor">{{doctor.bio}}</p>

                                            <div class="c5-staff-social">
                                                <ul style="padding-left: 10px;">
                                                    <li><a href="#" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                                                    <li><a href="#" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                                                    <li><a href="#" title="Linked in"><span class="fa fa-linkedin"></span></a></li>
                                                    <li><a href="#" title="Mail"><span class="fa fa-envelope"></span></a></li>
                                                </ul>
                                            </div>

                                            <p class="grayColor"><span class="fa fa-phone" style="color: deepskyblue;"></span> {{doctor.mobileNumber}}</p>
                                        </a>
                                        <!--<a href="#!/patient/doctorProfile"-->
                                        <!--ng-click="vm.viewDoctorProfile(doctor)"-->
                                        <!--class="btn btn-primary ml-10">View profile</a>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper -->
