<div class="wrapper">

    <!-- Main Header -->
    <div ng-include="'app-resources/patient/patientLayout/header_AR.html'"></div>
    <!--aside-->
    <div ng-controller="PatientHomeControllerAR as vm" ng-include="'app-resources/patient/patientLayout/aside_AR.html'"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!--<section class="content-header">-->
            <!--<h1>{{ vm.patient.patientName }}</h1>-->
        <!--</section>-->

        <!-- Main content -->
        <section class="content">


            <div ng-include="'app-resources/patient/patientLayout/head_AR.html'"></div>


            <div class="data">
                <div class="box box-danger">
                    <div class="bio">
                        <h3> تغيير البيانات الشخصية : </h3>

                        <form name="form" ng-submit="vm.saveChanges()">
                            <div class="row">

                                <div class="form-group" ng-class="{ 'has-error': form.fullname.$dirty && (form.fullname.$error.required) }">
                                    <label class="col-sm-4 control-label"> الاسم الكامل </label>

                                    <div class="col-sm-8">
                                        <input name="fullname" id="fullname" class="form-control" ng-model="vm.patient.patientName" required placeholder="Full Name" type="text">
                                    </div>
                                </div>

                                <p ng-show="form.fullname.$dirty && form.fullname.$error.required" style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> يجب ادخال الاسم بالكامل</p>

                            </div>


                            <div class="row">
                                
                                <div class="form-group" ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required}">
                                    <label class="col-sm-4 control-label">رقم التليفون</label>

                                    <div class="col-sm-8">
                                        <input disabled class="form-control" ng-model="vm.patient.mobileNumber" ng-blur="vm.checkMobile()" required placeholder="Mobile Number" type="text">
                                    </div>
                                </div>

                                <p ng-show="form.mobileNumber.$dirty && form.mobileNumber.$error.required" style="margin-left:2%; color:#e62222">     <i class="fa fa-exclamation-triangle"></i>
                                    يجب ادخال رقم التيلفون
                                </p>
                                
                                <p ng-show="form.email.$dirty && !vm.mobileAviable" style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> 
                                    رقم التليفون هذا غير متوفر
                                </p>

                            </div>

                            <div class="row">
                                <div class="form-group">
                                    
                                    <label class="col-sm-4 control-label">رقم تليفون الاقارب</label>
                                    
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-model="vm.patient.relativeMobileNumber" placeholder="Relative Mobile Number" type="text">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                
                                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && ( form.email.$error.email || form.email.$error.required || !vm.emailAviable) }">
                                    <label class="col-sm-4 control-label">الايميل الالكترونى</label>

                                    <div class="col-sm-8">
                                        <input disabled name="email" id="email" class="form-control" ng-model="vm.patient.email" ng-blur="vm.checkMail()" required="true" placeholder="E-mail" type="email">
                                    </div>
                                </div>
                                
                                <p ng-show="form.email.$dirty && form.email.$error.required" style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> 
                                    يجب ادخال الايميل الالكترونى
                                </p>
                                
                                <p ng-show="form.email.$dirty && form.email.$error.email" style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> 
                                    الايميل الالكترونى غير صحيح
                                </p>
                                
                                <p ng-show="form.email.$dirty && !vm.emailAviable" style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> 
                                    هذا البريد الإلكتروني غير متوفر
                                </p>

                            </div>
                            
                            
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">النوع</label>

                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="vm.patient.gender">
                                            <option selected>ذكر</option>
                                            <option>انثى</option>
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group" ng-class="{ 'has-error': form.birthDateId.$dirty && form.birthDateId.$error.required }">
                                    <label class="col-sm-4 control-label"> تاريخ الميلاد</label>

                                    <div class="col-sm-8">
                                        <input type="date" class="form-control" id="birthDateId" ng-model="vm.patient.dateOfBirth" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">المحافظة</label>

                                    <div class="col-sm-8">
                                        <select name="government" id="government" class="form-control" ng-model="vm.patient.government">
                                            <option class="cairo">القاهرة</option>
                                            <option class="alex">الاسكندرية</option>
                                            <option class="">الاسماعيلية</option>
                                            <option>اسوان</option>
                                            <option>اسيوط</option>
                                            <option>الاقصر</option>
                                            <option>البحر الاحمر</option>
                                            <option>البحيرة</option>
                                            <option>بنى سويف</option>
                                            <option>بورسعيد</option>
                                            <option>جنوب سيناء</option>
                                            <option>الجيزة</option>
                                            <option>الدقهلية</option>
                                            <option>دمياط</option>
                                            <option>سوهاج</option>
                                            <option>السويس</option>
                                            <option>الشرقية</option>
                                            <option>شمال سيناء</option>
                                            <option>الغربية</option>
                                            <option>الفيوم</option>
                                            <option>القليوبية</option>
                                            <option>قنا</option>
                                            <option>كفر الشيخ</option>
                                            <option>مطروح</option>
                                            <option>المنوفية</option>
                                            <option>المنيا</option>
                                            <option>الوادى الجديد</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">المنطقة</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-model="vm.patient.area" placeholder="Area" type="text">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">العنوان</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-model="vm.patient.address" placeholder="Address" type="text">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">الحالة الإجتماعية</label>

                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="vm.patient.maritalStatus">
                                            <option selected>متزوج</option>
                                            <option>اعزب</option>
                                            <option>مطلق</option>
                                            <option>ارمل</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group" ng-class="{ 'has-error': form.offspring.$dirty && form.offspring.$error.required }">
                                    <label class="col-sm-4 control-label">الابناء</label>

                                    <div class="col-sm-8">
                                        <input name="offspring" class="form-control" ng-model="vm.patient.offspring" placeholder="Offspring" type="number">
                                    </div>
                                </div>
                                
                                <p ng-show="form.offspring.$dirty && form.offspring.$error.required" style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> 
                                    يجب ادخال عدد الابناء
                                </p>
                            </div>
                            
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">الرقم القومى</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-model="vm.patient.nationalId" placeholder="National ID" type="text">
                                    </div>
                                </div>
                            </div>

                            <br>
                            
                            <div>
                                <button ng-disabled="form.$invalid || vm.dataLoading" class="pull-right btn btn-primary" type="submit">
                                    حفظ التغير
                                </button>

                                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                            </div>
                        </form>
                    </div>


                </div>
            </div>

            <div class="data">
                <div class="box box-danger">
                    <div class="bio">
                        
                        <h3>تغير كلمة السر :</h3>

                        <form name="formx" ng-submit="vm.savePasswordChanges()">
                            
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">كلمة السر القديمة</label>
                                    
                                    <div class="col-sm-8">
                                        <input name="oldPassword" id="oldPassword" class="form-control" ng-model="vm.oldPassword" required placeholder="Old Password" type="password">
                                    </div>
                                </div>

                                <p ng-show="formx.oldPassword.$dirty && formx.oldPassword.$error.required" style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> 
                                    يجب ادخال كلمة السر القديمة
                                </p>
                            </div>

                            <div class="row">
                                <div class="form-group" ng-class="{ 'has-error': formx.password.$dirty && (formx.password.$error.minlength ||         formx.password.$error.required) }">
                                    <label class="col-sm-4 control-label">كلمة السر الجديدة</label>

                                    <div class="col-sm-8">
                                        <input name="password" id="password" class="form-control" minlength="6" ng-model="vm.newPassword" required placeholder="Password" type="password">
                                    </div>
                                </div>
                                
                                <p ng-show="formx.password.$dirty && formx.password.$error.required" style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> 
                                    يجب ادخال كلمة السر الجديدة
                                </p>
                                
                                <p ng-show="formx.password.$dirty && formx.password.$error.minlength" style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    يجب أن تكون كلمة السر من 6 أحرف على الأقل
                                </p>
                            </div>

                            <div class="row">
                                <div class="form-group" ng-class="{ 'has-error': formx.password2.$dirty && ! vm.samePass  }">
                                    <label class="col-sm-4 control-label">تاكيد كلمة السر</label>

                                    <div class="col-sm-8">
                                        <input name="password2" id="confirmPassword" class="form-control" ng-keyup="vm.confirmPassword()" ng-model="vm.confirmPass" required placeholder="confirm Password" type="password">
                                    </div>
                                </div>
                                
                                <p ng-show="formx.password2.$dirty && ! vm.samePass " style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    كلمة السر يجب ان تكون متطابقة
                                </p>
                            </div>
                            
                            <br>
                            
                            <div>

                                <button ng-disabled="formx.$invalid || vm.dataLoading2 || !vm.samePass" class="pull-right btn btn-primary" type="submit">
                                    حفظ التغيرات
                                </button>

                                <img ng-if="vm.dataLoading2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper -->
