<aside class="main-sidebar">

    <section class="sidebar">

        <ul class="sidebar-menu">
            
            <!--<li>-->
                <!--<a href="#!/laps">-->
                    <!--<img src="dist/img/profile.svg"/> -->
                    <!--<span>Profile</span>-->
                <!--</a>-->
            <!--</li>-->

            <li>
                <a href="#!/laps/patientLog">
                    <img src="dist/img/search-user.svg" />
                    <span>Patients Log</span>
                </a>
            </li>
            
            <li>
                <a href="#!/laps/currentTest">
                    <img src="dist/img/lab-microscope.svg"/> 
                    <span>Current Test</span>
                </a>
            </li>

            <!--<li><a href="#!/laps/setting"><i class="fa fa-users"></i> <span>Settings </span></a></li>-->

            <!--<li><a href="schedule.html"><i class="fa fa-calendar"></i> <span>Schedule</span></a></li>-->
        </ul>

    </section>
</aside>