<header class="main-header" ng-controller="LapHeadController as vm">

    <!-- Logo -->
    <a class="logo" href="#!/laps">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="dist/img/logoslogan2.png"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="dist/img/logoslogan.png"></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <!--<a class="dropdown-toggle" data-toggle="modal" data-target="#myModal3">-->
        <!--<img src="dist/img/new-user.svg">-->
        <!--</a>-->

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown user user-menu">

                    <div class="search_input">
                        <input class="form-control search_input" ng-model="CardNumber"
                               my-enter="GetPatientByCardNumberLab(CardNumber)" placeholder="Search....." type="search">

                        <div>
                            <a ng-click="GetPatientByCardNumberLab(CardNumber)" class="search">
                                <img src="dist/img/search.svg" alt="search"/>
                            </a>
                        </div>
                    </div>

                    <p ng-if="search"> No Search Results</p>


                </li>

                <li class="dropdown user user-menu">

                    <a href="" class="dropdown-toggle" data-toggle="modal" data-target="#myModal3">
                        <img src="dist/img/new-user.svg">
                    </a>

                </li>

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">

                    <!-- Menu Toggle Button -->
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img id="img2" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{vm.laps.lapName}}</span>
                    </a>

                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img id="img3" class="img-circle" alt="User Image">
                            <!--<p> Alexander Pierce - Surgry Doctor <small>Member since Nov. 2012</small> </p>-->
                        </li>

                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <!--<div class="col-xs-6 text-center">-->
                                <!--<a>Followers</a>-->
                                <!--</div>-->
                                <div class="col-xs-6 text-center">
                                    <a href="#!/laps/setting">Settings</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#!/laps" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#!/login" ng-click="vm.logOut()" class="btn btn-default btn-flat">Sign out</a>

                            </div>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>

<div class="row">
    <div class="col-sm-6">
        <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Patient</h4>
                    </div>

                    <div class="modal-body">
                        <form name="form" ng-submit="addPatient(form)" ng-init="firstTrain =true">
                            <div ng-show="firstTrain">

                                <div class="row">
                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.fullname.$dirty && (form.fullname.$error.required) }">
                                        <label class="col-sm-4 control-label">Full Name</label>

                                        <div class="col-sm-8">
                                            <input name="fullname" id="fullname" class="form-control"
                                                   ng-model="patient.patientName" required placeholder="Full Name"
                                                   type="text">
                                        </div>
                                    </div>

                                    <p ng-show="form.fullname.$dirty && form.fullname.$error.required"
                                       style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle">
                                    </i> You should enter your full name
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required }">

                                        <label class="col-sm-4 control-label">Mobile Number</label>

                                        <div class="col-sm-8">
                                            <input name="mobileNumber" id="mobileNumber" class="form-control" required
                                                   ng-model="patient.mobileNumber"
                                                   ng-keyup="checkMobile(patient.mobileNumber)"
                                                   placeholder="Mobile Number">
                                        </div>

                                    </div>

                                    <p ng-show="form.mobileNumber.$dirty && form.mobileNumber.$error.required"
                                       style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i>
                                        You should chosee your Mobile number </p>

                                    <p ng-show="form.mobileNumber.$dirty &&  showInvalidMobileNo"
                                       style="margin-left:2%; color:#e62222">
                                        <i class="fa fa-exclamation-triangle"></i> please enter valid mobile number </p>

                                    <p ng-show="form.mobileNumber.$dirty && ! mobileAviable && ! showInvalidMobileNo"
                                       style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i>
                                        This Mobile Number is not aviable </p>
                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.cardNumber.$dirty && form.cardNumber.$error.required }">
                                        <label class="col-sm-4 control-label">Card Number</label>

                                        <div class="col-sm-8">
                                            <input name="cardNumber" id="cardNumber" class="form-control"
                                                   ng-model="patient.cardId.cardNumber" required
                                                   placeholder="Card Number" type="text">
                                        </div>
                                    </div>

                                    <p ng-show="form.cardNumber.$dirty && form.cardNumber.$error.required"
                                       style="margin-left:2%; color:#e62222">
                                        <i class="fa fa-exclamation-triangle"></i> You should enter your Card Number
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-4">

                                        <button ng-disabled="form.$invalid ||! mobileAviable || showInvalidMobileNo"
                                                class="btn btn-success  col-sm-6" type="button"
                                                ng-click="firstTrain = false "> Next Step
                                        </button>

                                        <button type="button" class="btn btn-default" data-dismiss="modal"> Close
                                        </button>

                                        <img ng-if="dataLoading"
                                             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                                    </div>
                                </div>

                            </div>

                            <div class="add_patient2" ng-show="!firstTrain">

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Smoker</label>
                                        <div class="col-sm-8">

                                            <div class="col-sm-3 remeber">
                                                <input ng-model="patient.smoker" value="Yes" type="radio">Yes
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input ng-model="patient.smoker" value="No" type="radio">No
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input ng-model="patient.smoker" value="N/A" type="radio">N/A
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Hypertension</label>
                                        <div class="col-sm-8">

                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="patient.hypertension" value="Yes">Yes
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="patient.hypertension" value="No">No
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input ng-model="patient.hypertension" value="N/A" type="radio">N/A
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Diabetes</label>
                                        <div class="col-sm-8">

                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="patient.diabetes" value="Yes">Yes
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="patient.diabetes" value="No">No
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input ng-model="patient.diabetes" value="N/A" type="radio">N/A
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-success col-sm-6" type="submit"
                                                ng-click="firstTrain = true"> Add Patient
                                        </button>

                                        <button class="btn btn-default" type="button" ng-click="firstTrain = true">
                                            back
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
