<div class="login-page" ng-controller="RegisterController as vm">
	<div class="login-box">

		<div class="login">

			<div class="row">

				<form name="form" class="login-box-body register_change" role="form">

					<div class="login-logo">
						<a href="#"><b>Health</b>Tag</a>
					</div>

					<h4 class="login-box-msg">Sign up</h4>

					<div class="row">
						<div class="form-group" ng-class="{ 'has-error': form.fullname.$dirty && (form.fullname.$error.required) }">

							<div class="col-sm-12">
								<input name="fullname" id="fullname" class="form-control" ng-model="vm.user.fullName" required placeholder="Full Name" type="text">
							</div>
						</div>

						<p ng-show="form.fullname.$dirty && form.fullname.$error.required" style="margin-left:2%; color:#e62222">
							<i class="fa fa-exclamation-triangle"></i> You should enter your full name
						</p>
					</div>

					<div class="row">
						<div class="form-group" ng-class="{ 'has-error': form.loginName.$dirty && ( form.loginName.$error.email || form.loginName.$error.required || !vm.emailAviable) }">

							<div class="col-sm-12">
								<input name="loginName" id="loginName" class="form-control" ng-model="vm.user.userProfile.loginName" ng-blur="vm.checkMail()" required placeholder="E-mail" type="email">
								<!--{{vm.user.userProfile.loginName}}-->
							</div>
						</div>

						<p ng-show="form.loginName.$dirty && form.loginName.$error.required" style="margin-left:2%; color:#e62222">
							<i class="fa fa-exclamation-triangle"></i> You should enter your E-mail
						</p>

						<p ng-show="form.loginName.$dirty && form.loginName.$error.email" style="margin-left:2%; color:#e62222">
							<i class="fa fa-exclamation-triangle"></i> You should enter a valid E-mail
						</p>

						<p ng-show="form.loginName.$dirty && !vm.emailAviable" style="margin-left:2%; color:#e62222">
							<i class="fa fa-exclamation-triangle"></i> This E-mail is not aviable
						</p>

					</div>

					<div class="row">

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="vm.userType" ng-change="vm.showClinic()">
                                        <option value="patient">User</option>
                                        <option value="doctor">Physician</option>
                                        <option value="pharmacies">Pharmacy</option>
                                        <option value="laps">Laboratory</option>
                                        <option value="radiations">Radiation Center</option>
                                    </select>
                                </div>
                            </div>

						<div class="form-group" ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required }">

                                <div class="col-sm-6">
                                    <input name="mobileNumber" id="mobileNumber" class="form-control"
                                           ng-model="vm.user.userProfile.mobileNumber" ng-keyUp="vm.checkMobile()"
                                           required placeholder="Mobile Number">


								<p ng-show="form.mobileNumber.$dirty && form.mobileNumber.$error.required" style="margin-left:2%; color:#e62222">
									<i class="fa fa-exclamation-triangle"></i>please enter your Mobile number
								</p>
								<p ng-show="form.mobileNumber.$dirty &&  vm.showInvalidMobileNo" style="margin-left:2%; color:#e62222">
									<i class="fa fa-exclamation-triangle"></i>please enter valid mobile number
								</p>

                                    <p ng-show="form.mobileNumber.$dirty && !vm.showInvalidMobileNo &&!vm.mobileAviable"
                                       style="margin-left:2%; color:#e62222">
                                        <i class="fa fa-exclamation-triangle"></i> This Mobile Number is not available
                                    </p>
                                </div>
                            </div>

					</div>


					<div class="row">
						<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && (form.password.$error.minlength || form.password.$error.required) }">

							<div class="col-sm-6">
								<input name="password" id="password" class="form-control" minlength="6" ng-model="vm.user.userProfile.userPassword" required placeholder="Password" type="password">

								<p ng-show="form.password.$dirty && form.password.$error.required" style="margin-left:2%; color:#e62222">
									<i class="fa fa-exclamation-triangle"></i> You should enter your Password
								</p>

								<p ng-show="form.password.$dirty && form.password.$error.minlength" style="margin-left:2%; color:#e62222">
									<i class="fa fa-exclamation-triangle"></i>Password should be at least of 6
									character
								</p>
							</div>

						</div>

						<div class="form-group" ng-class="{ 'has-error': form.password2.$dirty && ! vm.samePass  }">
							<div class="col-sm-6">
								<input name="password2" id="confirmPassword" class="form-control" ng-keyup="vm.confirmPassword()" ng-model="vm.confirmPass" required placeholder="confirm Password" type="password">

								<p ng-show="form.password2.$dirty && ! vm.samePass " style="margin-left:2%; color:#e62222">
									<i class="fa fa-exclamation-triangle"></i>Password must be the same
								</p>
							</div>

						</div>

					</div>


                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <select name="government" id="government" class="form-control"
                                            ng-model="vm.user.government" required>
                                        <option class="cairo">القاهرة</option>
                                        <option class="alex">الاسكندرية</option>
                                        <option class="">الاسماعيلية</option>
                                        <option>اسوان</option>
                                        <option>اسيوط</option>
                                        <option>الاقصر</option>
                                        <option>البحر الاحمر</option>
                                        <option>البحيرة</option>
                                        <option>بنى سويف</option>
                                        <option>بورسعيد</option>
                                        <option>جنوب سيناء</option>
                                        <option>الجيزة</option>
                                        <option>الدقهلية</option>
                                        <option>دمياط</option>
                                        <option>سوهاج</option>
                                        <option>السويس</option>
                                        <option>الشرقية</option>
                                        <option>شمال سيناء</option>
                                        <option>الغربية</option>
                                        <option>الفيوم</option>
                                        <option>القليوبية</option>
                                        <option>قنا</option>
                                        <option>كفر الشيخ</option>
                                        <option>مطروح</option>
                                        <option>المنوفية</option>
                                        <option>المنيا</option>
                                        <option>الوادى الجديد</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.showAddClinicDetails">

                            <p style="text-align: center">clinic data</p>
                            <div class="form-group"
                                 ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required }">

                                <div class="col-sm-6">
                                    <input name="clinicAddress" id="clinicAddress" class="form-control"
                                           ng-model="vm.user.clinicAddress"
                                           required placeholder="clinicAddress">


                                    <p ng-show="form.clinicAddress.$dirty && form.clinicAddress.$error.required"
                                       style="margin-left:2%; color:#e62222">
                                        <i class="fa fa-exclamation-triangle"></i>please enter your Clinic Address
                                    </p>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <select name="government2" id="government2" class="form-control"
                                            ng-model="vm.user.clinicGovernment" required>
                                        <option class="cairo">القاهرة</option>
                                        <option class="alex">الاسكندرية</option>
                                        <option class="">الاسماعيلية</option>
                                        <option>اسوان</option>
                                        <option>اسيوط</option>
                                        <option>الاقصر</option>
                                        <option>البحر الاحمر</option>
                                        <option>البحيرة</option>
                                        <option>بنى سويف</option>
                                        <option>بورسعيد</option>
                                        <option>جنوب سيناء</option>
                                        <option>الجيزة</option>
                                        <option>الدقهلية</option>
                                        <option>دمياط</option>
                                        <option>سوهاج</option>
                                        <option>السويس</option>
                                        <option>الشرقية</option>
                                        <option>شمال سيناء</option>
                                        <option>الغربية</option>
                                        <option>الفيوم</option>
                                        <option>القليوبية</option>
                                        <option>قنا</option>
                                        <option>كفر الشيخ</option>
                                        <option>مطروح</option>
                                        <option>المنوفية</option>
                                        <option>المنيا</option>
                                        <option>الوادى الجديد</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-4">

                                <button class="btn btn-primary"
                                        ng-disabled="form.$invalid ||!vm.mobileAviable|| vm.dataLoading"
                                        role="button" data-toggle="modal" ng-click="vm.sendSMSToUser()"
                                        data-target="#reopen_issue">
                                    Sign Up
                                </button>

							<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
    <div class="modal fade" id="reopen_issue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">Enter Verification Code Or call 01101115589 to
                        get a support!</h4>
                </div>


                <div class="modal-body">

                    <input type="text" id="verificationNo" ng-model="vm.verificationNo"/>
                    <button type="button" ng-click="vm.VerfyCode()">OK</button>
                    <button type="button" data-dismiss="modal" aria-label="Close">Cancel</button>

                </div>
            </div>
        </div>

    </div>
</div>
