<div class="wrapper">

    <!-- Main Header -->
    <div ng-include="'app-resources/doctor/doctorLayout/header.html'"></div>

    <!--aside-->
    <div ng-include="'app-resources/doctor/doctorLayout/aside.html'"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">

                <div class="row rowPatientLog">
                    <div class="col-sm-3 col-xs-6">
                        <h3 class="box-title">Patients</h3>
                    </div>
                    <div class="col-sm-9 col-xs-6">
                        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal3">+ Add Patient</button>
                    </div>
                </div>

                <form ng-submit="GetPatientByCardNumber(vm.CardNumber)">
                    <div class="box-header">
                        <div class="row">
                            <div class="form-group ">
                                <label class="col-sm-3 col-xs-12 control-label">Search</label>

                                <div class="col-sm-6 col-xs-8">
                                    <input class="form-control" ng-model="vm.CardNumber" placeholder="Search....." type="search">
                                </div>
                                <div class="col-sm-3 col-xs-2">
                                    <button type="submit" class="btn btn-success">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="vm.search" class="patients">
                        <h4 class="box-title">No Search Results</h4>

                    </div>
                </form>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="modal fade" id="myModal3" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add Patient</h4>
                                    </div>
                                    <div class="modal-body">

                                        <form name="form" ng-submit="vm.addPatient()">

                                            <div class="add_patient1">

                                                <div class="row">
                                                    <div class="form-group" ng-class="{ 'has-error': form.fullname.$dirty && (form.fullname.$error.required) }">

                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <input name="fullname" id="fullname" class="form-control" ng-model="vm.patient.patientName" required placeholder="Full Name" type="text">
                                                        </div>

                                                    </div>

                                                    <p ng-show="form.fullname.$dirty && form.fullname.$error.required" style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should enter your full name</p>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group" ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required }">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <input name="mobileNumber" id="mobileNumber" class="form-control" ng-model="vm.patient.mobileNumber" ng-blur="vm.checkMobile()" placeholder="Mobile Number">
                                                        </div>

                                                    </div>

                                                    <p ng-show="form.mobileNumber.$dirty && form.mobileNumber.$error.required" style="margin-left:2%; color:#e62222"> <i class="fa fa-exclamation-triangle"></i> You should chosee your Mobile number</p>

                                                    <p ng-show="form.mobileNumber.$dirty && !vm.mobileAviable" style="margin-left:2%; color:#e62222"> <i class="fa fa-exclamation-triangle"></i> This Mobile Number is not
                                                        aviable</p>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group" ng-class="{ 'has-error': form.cardNumber.$dirty && form.cardNumber.$error.required }">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <input name="cardNumber" id="cardNumber" class="form-control" ng-model="vm.patient.cardId.cardNumber" required placeholder="Card Number" type="text">
                                                        </div>
                                                    </div>

                                                    <p ng-show="form.cardNumber.$dirty && form.cardNumber.$error.required" style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should enter your Card Number</p>
                                                </div>

                                                <!--</div>-->
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2">
                                                        
                                                        <div class=" col-xs-6"> 
                                                            <button ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-success mr-10 col-sm-12" type="submit" onclick="Next(this)"> Next </button>
                                                        </div>

                                                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="add_patient2">

                                                <div class="row">
                                                    <div class="form-group">

                                                        <label class="col-xs-4 control-label">Smoker</label>

                                                        <div class="col-sm-8">

                                                            <div class="col-sm-3 col-xs-4 remeber">
                                                                <input value="Yes" type="radio">Yes
                                                            </div>

                                                            <div class="col-sm-3 col-xs-4 remeber">
                                                                <input value="No" type="radio">No
                                                            </div>

                                                            <div class="col-sm-3 col-xs-4 remeber">
                                                                <input value="N/A" type="radio">N/A
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">

                                                        <label class="col-xs-4 control-label">Hypertension</label>

                                                        <div class="col-sm-8">

                                                            <div class="col-sm-3 col-xs-4 remeber">
                                                                <input value="Yes" type="radio">Yes
                                                            </div>

                                                            <div class="col-sm-3 col-xs-4 remeber">
                                                                <input value="No" type="radio">No
                                                            </div>

                                                            <div class="col-sm-3 col-xs-4 remeber">
                                                                <input value="N/A" type="radio">N/A
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">

                                                        <label class="col-xs-4 control-label">Diabetes</label>

                                                        <div class="col-sm-8">

                                                            <div class="col-sm-3 col-xs-4 remeber">
                                                                <input value="Yes" type="radio">Yes
                                                            </div>

                                                            <div class="col-sm-3 col-xs-4 remeber">
                                                                <input value="No" type="radio">No
                                                            </div>

                                                            <div class="col-sm-3 col-xs-4 remeber">
                                                                <input value="N/A" type="radio">N/A
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-8 col-sm-offset-2">
                                                    
                                                    <div class=" col-xs-6"> 
                                                        <button class="btn btn-success col-xs-12" type="submit"> Add Patient</button>
                                                    </div>
                                                    
                                                    <div class=" col-xs-6"> 
                                                        <button class="btn btn-default col-xs-12" type="button"> back </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper -->

<script>
    $(".add_patient2").hide();

    function Next(el) {
        $(el).hide();
        $(".add_patient1").hide();
        $(".add_patient2").show();
    }

</script>
