<div class="wrapper">

    <!-- Main Header -->
    <div ng-include="'app-resources/doctor/doctorLayout/header.html'"></div>

    <!--aside-->
    <div ng-include="'app-resources/doctor/doctorLayout/aside.html'"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!--<section class="content-header">-->
            <!--<h1>{{ vm.doctor.doctorName }}</h1>-->
        <!--</section>-->

        <!-- Main content -->
        <section class="content">

            <!--head-->
            <!--<div ng-include="'app-resources/doctor/doctorLayout/head.html'"></div>-->


            <div class="data">
                <div class="box box-danger">
                    <div class="bio">
                        <h3>Change Personal Data :</h3>

                        <form name="form" ng-submit="vm.saveChanges()">
                            <div class="row">
                                <div class="form-group"
                                     ng-class="{ 'has-error': form.fullname.$dirty && (form.fullname.$error.required) }">
                                    <label class="col-sm-4 control-label">Full Name</label>

                                    <div class="col-sm-8">
                                        <input name="fullname" id="fullname" class="form-control"
                                               ng-model="vm.doctor.doctorName"
                                               required placeholder="Full Name" type="text">
                                    </div>
                                </div>
                                <p ng-show="form.fullname.$dirty && form.fullname.$error.required"
                                   style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You
                                    should
                                    enter your full name</p>

                            </div>
                            <div class="row">
                                <div class="form-group"
                                     ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required }">
                                    <label class="col-sm-4 control-label">Mobile Number</label>

                                    <div class="col-sm-8">
                                        <input disabled class="form-control" ng-model="vm.doctor.mobileNumber"
                                               ng-blur="vm.checkMobile()" required placeholder="Mobile Number"
                                               type="text">
                                    </div>

                                </div>
                                <p ng-show="form.mobileNumber.$dirty && form.mobileNumber.$error.required"
                                   style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You
                                    should
                                    chosee your Mobile number<</p>
                                <p ng-show="form.email.$dirty && !vm.mobileAviable"
                                   style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> This Mobile Number is not aviable</p>

                            </div>

                            <div class="row">
                                <div class="form-group"
                                     ng-class="{ 'has-error': form.email.$dirty && ( form.email.$error.email || form.email.$error.required || !vm.emailAviable) }">
                                    <label class="col-sm-4 control-label">E-mail</label>

                                    <div class="col-sm-8">
                                        <input disabled name="email" id="email" class="form-control"
                                               ng-model="vm.doctor.email"
                                               ng-blur="vm.checkMail()" required="true" placeholder="E-mail"
                                               type="email">
                                    </div>
                                </div>
                                <p ng-show="form.email.$dirty && form.email.$error.required"
                                   style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You
                                    should
                                    enter your E-mail</p>
                                <p ng-show="form.email.$dirty && form.email.$error.email"
                                   style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> You should enter a valid E-mail</p>
                                <p ng-show="form.email.$dirty && !vm.emailAviable"
                                   style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> This E-mail is not aviable</p>

                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Gender</label>

                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="vm.doctor.gender">
                                            <option selected>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">National ID</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-model="vm.doctor.nationalId" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Speciality</label>

                                    <div class="col-sm-8">

                                        <select  class="form-control" id="specialty" name="specialty"
                                                ng-model="vm.doctor.specialty">
                                            <option ng-repeat="sp in vm.specialities" value="{{sp}}">{{sp}}</option>

                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Sub Speciality</label>

                                    <div class="col-sm-8">

                                        <!--<select  class="form-control" id="subSpecialty" name="subSpecialty"-->
                                                <!--ng-model="vm.doctor.subSpecialty">-->
                                            <!--<option ng-repeat="sub in vm.subSpecialities" value="{{sub}}">{{sub}}</option>-->

                                        <!--</select>-->
                                        <input id="subSpecialty" name="subSpecialty" class="form-control" ng-model="vm.doctor.subSpecialty" type="text">

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Brief Profile</label>
                                    <div class="col-sm-8">
                                        <textarea rows="4" class="form-control" cols="50" ng-model="vm.doctor.briefProfile"
                                                  placeholder="Brief Profile"></textarea>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Bio</label>
                                    <div class="col-sm-8">
                                        <textarea rows="4" class="form-control" cols="50" ng-model="vm.doctor.bio"
                                                  placeholder="Bio"></textarea>

                                    </div>
                                </div>
                            </div>

                            <!--<div class="row">-->
                            <!--<div class="form-group"-->
                            <!--ng-class="{ 'has-error': form.nationalId.$dirty && ( form.nationalId.$error.required ||-->
                            <!--form.nationalId.$error.minlength || form.nationalId.$error.maxlength)}">-->
                            <!--<label class="col-sm-4 control-label">National ID</label>-->

                            <!--<div class="col-sm-8">-->
                            <!--<input class="form-control" ng-model="vm.doctor.address.nationalId"-->
                            <!--placeholder="National ID"-->
                            <!--name="nationalId" type="number" MAXLENGTH="14" minlength="14">-->
                            <!--</div>-->

                            <!--</div>-->
                            <!--<p ng-show="form.nationalId.$dirty && form.nationalId.$error.minlength"-->
                            <!--style="margin-left:2%; color:#e62222">-->
                            <!--<i class="fa fa-exclamation-triangle"></i> National Id should be 14 number</p>-->
                            <!--<p ng-show="form.nationalId.$dirty && form.nationalId.$error.maxlength"-->
                            <!--style="margin-left:2%; color:#e62222">-->
                            <!--<i class="fa fa-exclamation-triangle">-->
                            <!--</i> National Id should be 14 number</p>-->

                            <!--</div>-->
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">License Number</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-model="vm.doctor.licenseNumber"
                                               placeholder="License" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Degree</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-model="vm.doctor.degree"
                                               placeholder="Degree" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="btn-group col-xs-12">
                                    <button ng-disabled="form.$invalid || vm.dataLoading" class=" pull-right btn btn-primary"
                                            type="submit">
                                        Save Changes
                                    </button>

                                    <img ng-if="vm.dataLoading"
                                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>

            <div class="data">
                <div class="box box-danger">
                    <div class="bio">
                        <h3>Change Password :</h3>

                        <form name="formx" ng-submit="vm.savePasswordChanges()">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Old Password</label>
                                    <div class="col-sm-8">
                                        <input name="oldPassword" id="oldPassword" class="form-control"
                                               ng-model="vm.oldPassword" required placeholder="Old Password"
                                               type="password">
                                    </div>
                                </div>

                                <p ng-show="formx.oldPassword.$dirty && formx.oldPassword.$error.required"
                                   style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> You should enter your Old Password</p>
                            </div>

                            <div class="row">
                                <div class="form-group"
                                     ng-class="{ 'has-error': formx.password.$dirty && (formx.password.$error.minlength || formx.password.$error.required) }">
                                    <label class="col-sm-4 control-label">New Password</label>

                                    <div class="col-sm-8">
                                        <input name="password" id="password" class="form-control" minlength="6"
                                               ng-model="vm.newPassword" required placeholder="Password"
                                               type="password">
                                    </div>
                                </div>
                                <p ng-show="formx.password.$dirty && formx.password.$error.required"
                                   style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i> You should enter your Password</p>
                                <p ng-show="formx.password.$dirty && formx.password.$error.minlength"
                                   style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i>Password should be at least of 6 character
                                </p>
                            </div>

                            <div class="row">
                                <div class="form-group"
                                     ng-class="{ 'has-error': formx.password2.$dirty && ! vm.samePass  }">
                                    <label class="col-sm-4 control-label">confirm New Password</label>

                                    <div class="col-sm-8">
                                        <input name="password2" id="confirmPassword" class="form-control"
                                               ng-keyup="vm.confirmPassword()"
                                               ng-model="vm.confirmPass" required placeholder="confirm Password"
                                               type="password">
                                    </div>
                                </div>
                                <p ng-show="formx.password2.$dirty && ! vm.samePass "
                                   style="margin-left:2%; color:#e62222">
                                    <i class="fa fa-exclamation-triangle"></i>Password must be the same</p>
                            </div>
                            <div class="row">
                                <div class="btn-group col-xs-12">
                                    <button ng-disabled="formx.$invalid || vm.dataLoading2 || !vm.samePass"
                                            class="btn btn-primary pull-right"
                                            type="submit">
                                        Save Changes
                                    </button>

                                    <img ng-if="vm.dataLoading2"
                                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper -->