<div class="login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Health</b>Tag</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">404 Not Found</p>

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
</div>


