<aside class="main-sidebar" ng-controller="DoctorController as vm">

    <section class="sidebar">

        <ul class="sidebar-menu">
            
            <li>
                <a href="#!/doctor">
                    <img src="dist/img/clinics_menu.svg"/>
                    <span>My Clinics</span>
                </a>
            </li>
            
            <li>
                <a href="#!/doctor/profile">
                    <img src="dist/img/profile.svg"/>
                    <span>Profile</span>
                </a>
            </li>
            
            <!--<li ng-show="vm.clinicFlag == 1"><a href="#!/doctor/patientLog"> <img src="dist/img/search-user.svg"/> <span>Patients Log</span></a></li>-->
            
            <li>
                <a href="#!/doctor/patients"> 
                    <i class="fa fa-users"></i> 
                    <span>My Patients</span>
                </a>
            </li>
            
            <li>
                <a href="#!/doctor/setting"> 
                    <img src="dist/img/setting.svg"/> 
                    <span>Settings </span>
                </a>
            </li>

            <!--<li><a href="schedule.html"><i class="fa fa-calendar"></i> <span>Schedule</span></a></li>-->
        </ul>

    </section>
</aside>