<div class="head" ng-controller="HeadController as vm">
    <div class="row">

        <div class="col-md-2 col-xs-4">
            <figure class="im snip1558">
                <img class="img-responsive" id="img1" alt="sq-sample14" />
                
                <figcaption>
                    <i data-toggle="modal" data-target="#myModal2" class="fa fa-pencil"></i>
                </figcaption>
                
                <a href=""></a>
            </figure>
        </div>
        
        <div class="col-md-10 col-xs-8 padding_zero">
            <h4 class="col-xs-12">{{ vm.doctor.email }}</h4>
            <p class="col-xs-12" ng-if="vm.doctor.gender">{{ vm.doctor.gender }} </p>
            <p class="col-xs-12">{{ vm.doctor.specialty }} </p>
            <p class="col-md-7">{{ vm.doctor.subSpecialty }}</p>
        </div>

        <div class="col-sm-6 col-offset-3">
            <div class="modal fade in col-sm-12" id="myModal2" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;
                            </button>
                            <h4 class="modal-title">Change Profile Picture </h4>
                        </div>
                        
                        <div class="modal-body">

                            <form>
                                <input type="file" id="upload" accept="image/*" />
                                <br>
                                <img style="width: 170px; height: 150px;" ng-src="{{cropped.source}}" />

                                <br>
                            </form>
                            
                            <div class="modal-footer">
                                
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refresh()"> Close </button>
                                
                                <button type="button" class="btn btn-success" ng-click="uploadImg()"> Upload </button>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
