<div class="wrapper">

    <!-- Main Header -->
    <div ng-include="'app-resources/laps/lapsLayout/header.html'"></div>

    <!--aside-->
    <div ng-include="'app-resources/laps/lapsLayout/aside.html'"></div>

    <div class="content-wrapper">
        <!--<section class="content-header">-->
        <!--<h1>{{ vm.laps.lapName }}</h1>-->
        <!--</section>-->

        <!---->
        <!--<button style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#addAnalysis">add-->
        <!--analysis-->
        <!--</button>-->
        <!-- Main content -->
        <section class="content">

            <!--head-->
            <!--<div ng-include="'app-resources/laps/lapsLayout/head.html'"></div>-->


            <!--<div class="tab-panels">-->
            <!--<ul class="tabs">-->
            <!--<li rel="panel6" class="header3 hidden-xs" ng-class="{active:vm.panel[0]}"-->
            <!--ng-click="vm.showPanel(0)">Patient Analysis-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <button style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#addAnalysis">add
                analysis
            </button>

            <div id="panel4" class="panel" ng-show="vm.panel[0]">
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-include="'app-resources/doctor/examinationSheet/sheet5.html'"></div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="modal fade" id="addAnalysis" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Patient</h4>
                    </div>
                    <div class="modal-body">
                        <div class="treat">
                            <div class="radiation">
                                <div class="row">
                                    <label class="col-sm-12 control-label">Analysis : </label>
                                    <div data-ng-repeat="checkBox in vm.analysisCheckBoxes">
                                        <div class="col-md-4 col-sm-6">
                                            <label class="check_lab">
                                                <input type="checkbox" class="minimal" ng-model="checkBox.value"
                                                       ng-change="vm.addAnalysisFromCheckBox(checkBox,checkBox.value)">
                                                {{checkBox.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="radiation_table">
                                    <div class="row hidden-xs" ng-if="vm.analysisList.length">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="">Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="">Notes</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-ng-repeat="data in vm.analysisList" class="row margin_bot3">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="" ng-if="!data.other">{{data.name}}</label>
                                                <input class="form-control" placeholder="name" type="text"
                                                       ng-model="data.name" ng-if="data.other">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group2">
                                                <label class="hidden-md hidden-lg">Notes</label>
                                                <input class="form-control" placeholder="enter your notes .... "
                                                       type="text" ng-model="data.notes">
                                            </div>
                                        </div>
                                        <span class="col-md-1" ng-if="data.other" ng-click="vm.addItem(data)">
                                        <i class="fa fa-plus-square" style="display: inline"></i> </span>
                                        <span class="col-md-1"
                                              ng-click="vm.deleteAnalysisItem(vm.analysisList,$index,data)"><i
                                                class="fa fa-minus-square" style="display: inline"></i> </span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="select_radio">
                                        <label class="col-md-4 col-sm-4">Select Analysis</label>
                                        <ui-select class="col-md-4 col-sm-8" ng-model="vm.selectedAnalsis"
                                                   theme="select2"
                                                   ng-change="vm.AddAnalysis(vm.selectedAnalsis)"
                                                   style="min-width: 260px;" title="Choose a analysis test">
                                            <ui-select-match
                                                    placeholder="Select a analysis in the list or search his name/age...">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices group-by="vm.firstLetterGroupFn"
                                                               repeat="analysis in vm.analysisLookUps | propsFilter: {name: $select.search} | limitTo: 50"
                                                               position='auto'>
                                                <div ng-bind-html="analysis.name | highlight: $select.search"></div>
                                                <small>
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center;margin-top: 20px;">
                                    <button ng-disabled="! vm.analysisList.length "
                                            ng-click="vm.addNewAnalysisListFromLab()" class="btn btn-success">submit
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>