<div class="wrapper">
    <!-- Main Header -->
    <div ng-include="'app-resources/doctor/doctorLayout/header.html'"></div>
    <!--aside-->
    <div ng-include="'app-resources/doctor/doctorLayout/aside.html'"></div>
    <div class="content-wrapper">
        <!--<section class="content-header">-->
            <!--<h1>{{ vm.patient.patientName }}</h1>-->
        <!--</section>-->
        <!-- Main content -->
        <section class="content">
            <!--head-->
            <div ng-include="'app-resources/doctor/examinationSheet/head.html'"></div>
            <div class="tab-panels">
                <ul class="tabs">
                    <!--<li rel="panel1" class="header3 " ng-class="{active:vm.panel[0]}"-->
                        <!--ng-click="vm.showPanel(0)">-->
                        <!--<span class="hiddenMob ">Info</span>-->
                        <!--<span class="viasbleXs ">Inf</span>-->
                        <!--&lt;!&ndash;<img src="dist/img/info.png" class="img-responsive  viasbleXs" alt="s">&ndash;&gt;-->
                    <!--</li>-->
                    <!--<li rel="panel2" class="header3 " ng-class="{active:vm.panel[1]}"-->
                        <!--ng-click="vm.showPanel(1)">-->
                        <!--<span class="hiddenMob">PHR</span>-->
                        <!--<span class="viasbleXs">PHR</span>-->
                        <!--&lt;!&ndash;<img src="dist/img/heartbeat.png" class="img-responsive viasbleXs" alt="s">&ndash;&gt;-->
                    <!--</li>-->

                    <li rel="panel3" class="header3 " ng-class="{active:vm.panel[2]}"
                        ng-click="vm.showPanel(2)">
                        <span class="hiddenMob">Ex.sheet</span>
                        <span class="viasbleXs">Ex.</span>
                        <!--<img src="dist/img/medical-history.png" class="img-responsive viasbleXs" alt="s">-->
                    </li>
                    <!--<li rel="panel2" class="active header3 hidden-md hidden-lg">2</li>-->
                    <!--<li rel="panel4" class="header3 " ng-class="{active:vm.panel[3]}"-->
                        <!--ng-click="vm.showPanel(3)">-->
                        <!--<span class="hiddenMob">Tr.plan</span>-->
                        <!--<span class="viasbleXs">Ttt.</span>-->
                        <!--&lt;!&ndash;<img src="dist/img/first-aid-kit.png" class="img-responsive viasbleXs" alt="s">&ndash;&gt;-->
                    <!--</li>-->
                    <!--<li rel="panel3" class="header3 hidden-md hidden-lg">3</li>-->
                    <!--<li rel="panel5" class="header3 " ng-class="{active:vm.panel[4]}"-->
                        <!--ng-click="vm.showPanel(4)">-->
                        <!--<span class="hiddenMob">Results</span>-->
                        <!--<span class="viasbleXs">Res</span>-->
                        <!--&lt;!&ndash;<img src="dist/img/medical-history.png" class="img-responsive viasbleXs pull-left" alt="s">&ndash;&gt;-->
                    <!--</li>-->
                    <!--<li rel="panel4" class="header3 hidden-md hidden-lg">4</li>-->
                    <li rel="panel6" class="header3 " ng-class="{active:vm.panel[5]}"
                        ng-click="vm.showPanel(5)">
                        <span class="hiddenMob">History</span>
                        <span class="viasbleXs">His.</span>
                        <!--<img src="dist/img/heartbeat.png" class="img-responsive viasbleXs" alt="s">-->
                    </li>
                    <!--<li rel="panel6" class="header3 hidden-xs" ng-class="{active:vm.panel[4]}"-->
                        <!--ng-click="vm.showPanel(4)">Follow Up2-->
                    <!--</li>-->
                    <!--<li rel="panel5" class="header3 hidden-md hidden-lg">5</li>-->
                </ul>
            </div>

            <!--<div id="panel1" class="panel" ng-show="vm.panel[0]">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6 col-xs-12">-->
                        <!--<div ng-include="'app-resources/doctor/examinationSheet/patientBasicInfo.html'"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="panel2" class="panel" ng-show="vm.panel[1]">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6 col-xs-12">-->
                        <!--<div ng-include="'app-resources/doctor/examinationSheet/phr.html'"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div id="panel3" class="panel" ng-show="vm.panel[2]">
                <div class="row">
                    <!--<div class="col-xs-6">-->
                        <div ng-include="'app-resources/doctor/examinationSheet/sheet1.html'"></div>
                    <!--</div>-->
                </div>
            </div>
            <div id="panel4" class="panel" ng-show="vm.panel[3]">
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-include="'app-resources/doctor/examinationSheet/sheet2.html'"></div>
                    </div>
                </div>
            </div>
            <!--<div id="panel5" class="panel" ng-show="vm.panel[4]">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                        <!--<div ng-include="'app-resources/doctor/examinationSheet/medical-radiology.html'"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div id="panel6" class="panel" ng-show="vm.panel[5]">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div ng-include="'app-resources/doctor/examinationSheet/history.html'"></div>
                    </div>
                </div>
            </div>
            <!--<div id="panel5" class="panel" ng-show="vm.panel[4]">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                        <!--<div ng-include="'app-resources/doctor/examinationSheet/sheet5.html'"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </section>
        <!-- /.content -->
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="modal fade" id="editPatientModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Patient</h4>
                        </div>
                        <div class="modal-body">

                            <form name="form" ng-submit="vm.saveChanges()" >
                                <div class="row">
                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.fullname.$dirty && (form.fullname.$error.required) }">
                                        <label class="col-sm-4 control-label">Full Name</label>

                                        <div class="col-sm-8">
                                            <input name="fullname" id="fullname" class="form-control"
                                                   ng-model="vm.patient.patientName"
                                                    placeholder="Full Name" type="text">
                                        </div>
                                    </div>
                                    <p ng-show="form.fullname.$dirty && form.fullname.$error.required"
                                       style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You
                                        should
                                        enter your full name</p>

                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <!--ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required }">-->

                                        <label class="col-sm-4 control-label">Mobile Number</label>

                                        <div class="col-sm-8">
                                            <input disabled name="mobileNumber" id="mobileNumber" class="form-control"
                                                   ng-model="vm.patient.mobileNumber"
                                                   ng-blur="vm.checkMobile()" placeholder="Mobile Number" type="text">
                                        </div>

                                    </div>
                                    <!--<p ng-show="form.mobileNumber.$dirty && form.mobileNumber.$error.required"-->
                                    <!--style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You-->
                                    <!--should-->
                                    <!--chosee your Mobile number</p>-->
                                    <!--<p ng-show="form.mobileNumber.$dirty && !vm.mobileAviable"-->
                                    <!--style="margin-left:2%; color:#e62222">-->
                                    <!--<i class="fa fa-exclamation-triangle"></i> This Mobile Number is not aviable</p>-->

                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Relative Mobile
                                            Number</label>
                                        <div class="col-sm-8">
                                            <input class="form-control"
                                                   ng-model="vm.patient.relativeMobileNumber"
                                                   placeholder="Relative Mobile Number"
                                                   type="text">
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.loginName.$dirty && ( form.loginName.$error.email || form.loginName.$error.required || !vm.emailAviable) }">
                                        <label class="col-sm-4 control-label">E-mail</label>

                                        <div class="col-sm-8">
                                            <input  name="loginName" id="loginName" class="form-control"
                                                    ng-model="vm.patient.email"
                                                    ng-blur="vm.checkMail()" placeholder="E-mail" type="email">
                                            <!--{{vm.user.userProfile.loginName}}-->
                                        </div>
                                    </div>
                                    <!--<p ng-show="form.loginName.$dirty && form.loginName.$error.required"-->
                                    <!--style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You-->
                                    <!--should-->
                                    <!--enter your E-mail</p>-->
                                    <p ng-show="form.loginName.$dirty && form.loginName.$error.email"
                                       style="margin-left:2%; color:#e62222">
                                        <i class="fa fa-exclamation-triangle"></i> You should enter a valid E-mail</p>
                                    <p ng-show="form.loginName.$dirty && !vm.emailAviable"
                                       style="margin-left:2%; color:#e62222">
                                        <i class="fa fa-exclamation-triangle"></i> This E-mail is not aviable</p>

                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Gender</label>

                                        <div  class="col-sm-8">
                                            <select class="form-control" ng-model="vm.patient.gender">
                                                <option selected>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Date Of Birth</label>
                                        <div class="col-sm-8">
                                            <input  class="form-control" type="text" id="birthDateId" ng-model="vm.patient.dateOfBirth" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">government</label>

                                        <div class="col-sm-8">
                                            <select  name="government" id="government" class="form-control"
                                                     ng-model="vm.patient.government">
                                                <option class="cairo">القاهرة</option>
                                                <option class="alex">الاسكندرية</option>
                                                <option class="">الاسماعيلية</option>
                                                <option>اسوان</option>
                                                <option>اسيوط</option>
                                                <option>الاقصر</option>
                                                <option>البحر الاحمر</option>
                                                <option>البحيرة</option>
                                                <option>بنى سويف</option>
                                                <option>بورسعيد</option>
                                                <option>جنوب سيناء</option>
                                                <option>الجيزة</option>
                                                <option>الدقهلية</option>
                                                <option>دمياط</option>
                                                <option>سوهاج</option>
                                                <option>السويس</option>
                                                <option>الشرقية</option>
                                                <option>شمال سيناء</option>
                                                <option>الغربية</option>
                                                <option>الفيوم</option>
                                                <option>القليوبية</option>
                                                <option>قنا</option>
                                                <option>كفر الشيخ</option>
                                                <option>مطروح</option>
                                                <option>المنوفية</option>
                                                <option>المنيا</option>
                                                <option>الوادى الجديد</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Area</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="vm.patient.area"
                                                   placeholder="Area" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Address</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="vm.patient.address"
                                                   placeholder="Address" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">MaritalStatus</label>

                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="vm.patient.maritalStatus">
                                                <option selected>Married</option>
                                                <option>Single</option>
                                                <option>Divorced</option>
                                                <option>Widowed</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">offsprings</label>

                                        <div class="col-sm-8">
                                            <input name="offspring" class="form-control" ng-model="vm.patient.offspring"
                                                   placeholder="Offspring"
                                                   type="number">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">National ID</label>
                                        <div class="col-sm-8">
                                            <input  class="form-control" ng-model="vm.patient.nationalId"
                                                    placeholder="National ID" type="number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Chronic Diseases</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="vm.patient.chronicDiseases"
                                                   placeholder="Chronic Diseases" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Present Medications</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="vm.patient.presentMedications"
                                                   placeholder="Present Medications" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Allergien</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="vm.patient.allergien"
                                                   placeholder="Allergien" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Surgeries</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="vm.patient.surgeries"
                                                   placeholder="Surgeries" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">BloodGroup</label>
                                        <div  class="col-sm-8">
                                            <select class="form-control" ng-model="vm.patient.bloodGroup">
                                                <option selected>A</option>
                                                <option>A+</option>
                                                <option>B</option>
                                                <option>B+</option>
                                                <option>AB</option>
                                                <option>AB+</option>
                                                <option>O</option>
                                                <option>O+</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Card Number</label>

                                        <div class="col-sm-8">
                                            <input disabled name="cardNumber" id="cardNumber"
                                                   class="form-control"
                                                   ng-model="vm.patient.cardId.cardNumber"
                                                   placeholder="Card Number" type="text">
                                        </div>
                                    </div>
                                    <!--<p ng-show="form.cardNumber.$dirty && form.cardNumber.$error.required"-->
                                    <!--style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You-->
                                    <!--should enter-->
                                    <!--your Card Number</p>-->
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Card Pin</label>

                                        <div class="col-sm-8">
                                            <input disabled name="cardPin" id="cardPin"
                                                   class="form-control"
                                                   ng-model="vm.patient.cardId.cardPin"
                                                   placeholder="Card Pin" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Smoker</label>
                                        <div class="col-sm-8">

                                            <div class="col-sm-3 remeber">
                                                <input ng-model="vm.patient.smoker" value="Yes" type="radio">Yes
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input ng-model="vm.patient.smoker" value="No" type="radio">No
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input ng-model="vm.patient.smoker" value="N/A" type="radio">N/A
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Hypertension</label>
                                        <div class="col-sm-8">

                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="vm.patient.hypertension" value="Yes">Yes
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="vm.patient.hypertension" value="No">No
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input ng-model="vm.patient.hypertension" value="N/A" type="radio">N/A
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Diabetes</label>
                                        <div class="col-sm-8">

                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="vm.patient.diabetes" value="Yes">Yes
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="vm.patient.diabetes" value="No">No
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input ng-model="vm.patient.diabetes" value="N/A" type="radio">N/A
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div style="float: right">
                                    <div class="modal-footer">
                                        <button  class="btn btn-default"  class="btn btn-danger"
                                                 type="submit">
                                            Save Changes
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                    </div>

                                    <img ng-if="vm.dataLoading"
                                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>content-wrappers
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>
</div>
