<div class="data">
    <div class="box box-danger">
        <div class="bio">
            <div>
                <div>
                    <form name="form" ng-submit="vm.add(form)">
                        <div class="row">

                            <div class="form-group"
                                 ng-class="{ 'has-error': form.documentName.$dirty && form.documentName.$error.required }">
                                <label class="col-sm-4 ">Document Name</label>

                                <div class="col-sm-8">
                                    <input name="documentName" id="documentName" class="form-control"
                                           ng-model="vm.attachment.documentName"
                                           required placeholder="Document Name" type="text">
                                </div>
                                <!--<p ng-show="form.documentName.$dirty && form.documentName.$error.required"-->
                                <!--style="margin-left:2%; color:#e62222"><i-->
                                <!--class="fa fa-exclamation-triangle"></i> You should enter-->
                                <!--Document Name</p>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group"
                                 ng-class="{ 'has-error': form.documentType.$dirty && form.documentType.$error.required }">
                                <label class="col-sm-4  ">Document Type</label>

                                <div class="col-sm-8">
                                    <select id="" class="form-control"
                                            ng-model="vm.attachment.documentType">
                                        <option selected>X-Ray</option>
                                        <option>Ex-sheet</option>
                                        <option>Analysis</option>
                                    </select>
                                </div>
                                <!--<p ng-show="form.documentType.$dirty && form.documentType.$error.required"-->
                                <!--style="margin-left:2%; color:#e62222"><i-->
                                <!--class="fa fa-exclamation-triangle"></i> You should enter Document-->
                                <!--Type</p>-->

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group"
                                 ng-class="{ 'has-error': form.doctorName.$dirty && form.doctorName.$error.required }">
                                <label class="col-sm-4  ">Doctor/Lap Name</label>

                                <div class="col-sm-8">
                                    <input name="doctorName" id="doctorName" class="form-control"
                                           ng-model="vm.attachment.doctorName"
                                           required placeholder="Doctor/Lap Name" type="text">
                                </div>
                                <!--<p ng-show="form.doctorName.$dirty && form.doctorName.$error.required"-->
                                <!--style="margin-left:2%; color:#e62222"><i-->
                                <!--class="fa fa-exclamation-triangle"></i> You should enter Doctor/Lap Name-->
                                <!--</p>-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group"
                                 ng-class="{ 'has-error': form.attachmentDate.$dirty && form.attachmentDate.$error.required }">
                                <label class="col-sm-4  ">Document Date</label>

                                <div class="col-sm-8">
                                    <input type="date" id="attachmentDate" class="form-control" ng-model="vm.attachment.date"
                                           required/>
                                </div>
                            </div>
                            <!--<p ng-show="form.attachmentDate.$dirty && form.attachmentDate.$error.required"-->
                            <!--style="margin-left:2%; color:#e62222"><i-->
                            <!--class="fa fa-exclamation-triangle"></i> You should-->
                            <!--enter Document Date </p>-->
                        </div>
                        <div class="row">

                            <div class="form-group"
                                 ng-class="{ 'has-error': form.file.$dirty && form.file.$error.required }">
                                <label class="col-sm-4  ">Select Document</label>
                                <div class="col-sm-8">
                                    <input required type="file" id="file" name="file" accept="*/*"/>
                                </div>
                                <!--<p ng-show="form.file.$dirty && form.file.$error.required"-->
                                <!--style="margin-left:2%; color:#e62222"><i-->
                                <!--class="fa fa-exclamation-triangle"></i> You should-->
                                <!--select Document  </p>-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-4">
                                <button ng-disabled="form.$invalid || vm.attachDataLoading"
                                        class="btn btn-success"
                                        type="submit">
                                    Add Document
                                </button>
                                <img ng-if="vm.attachDataLoading"
                                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <br> <br>
            <div class="box box-primary">

                <div class="row" >
                    <div class="col-md-offset-3 col-md-6">
                        <div ng-repeat="files in vm.allAttchFiles" class="patient">
                            <a class="col-sm-12">
                                <img alt=""/></a>
                            <div class="col-sm-12">
                                <p><span>Document Name : </span> {{files.documentName}}</p></a>
                                <a><p><span>Document Type : </span> {{files.documentType}}</p></a>
                                <p><span>Document Date : </span> {{files.date}}</p>
                                <p><span>Uplod Date : </span> {{files.uploadedDate}}</p>
                                <!-- <p><span>View : </span> {{patient.mobileNumber}}</p>-->
                                <button class="btn btn-primary"
                                        ng-click="vm.preview(files.documentPathName,files.ext)">
                                    Preview Document
                                </button>

                                <div class="modal fade" id="imgPrev" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title">Attachment Preview</h4>
                                            </div>
                                            <div class="modal-body">


                                                <a class="col-md-4 col-sm-6">
                                                    <img data-ng-src="data:image/{};base64,{{vm.imgPrev}}"
                                                         data-err-src="images/png/avatar.png"/>
                                                </a>

                                                <div class="modal-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

        </div>


    </div>
</div>
