<div class="data">
    <div class="box box-danger">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="rosheta">
                    <div class="rosheta-title">
                        <div class="row">
                        </div>
                    </div>
                    <div class="r-line"></div>
                    <div class="rosheta-content">
                        <div ng-repeat="radio in vm.followUpRadio  track by $index "
                             ng-init="OuterIndex = $index">
                            <div class="r-item" ng-if="radio.radiologyList.length && radio.radiologyList.length >0">
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-1"
                                             ng-click="vm.followUpRadio[OuterIndex].show = !vm.followUpRadio[OuterIndex].show">
                                            <div class="form-group">
                                                <button ng-if="!vm.followUpRadio[OuterIndex].show " type="button"
                                                        class="btn btn-default">+
                                                </button>
                                                <button ng-if="vm.followUpRadio[OuterIndex].show " type="button"
                                                        class="btn btn-default">-
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-xs-6">
                                            <div class="form-group">
                                                <label class=" control-label">date</label>
                                                <p>{{vm.convertDate(radio.date)}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">doctor</label>
                                                <p>{{radio.visitId.clinicId.doctorId.doctors.doctorName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-xs-6">
                                            <div class="form-group">
                                                <label class=" control-label">Specialty</label>
                                                <p>{{radio.visitId.clinicId.doctorId.doctors.specialty}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                            <div class="form-group">
                                                <label class=" control-label">Mobile Number</label>
                                                <p>{{radio.visitId.clinicId.doctorId.doctors.mobileNumber}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="vm.followUpRadio[OuterIndex].show">
                                    <div class="r-item"
                                         ng-repeat="radioObj in radio.radiologyList track by $index "
                                         ng-init=" innerIndex = $index">
                                        <div class=" ">
                                            <div class="row">
                                                <div class="col-md-3 col-xs-6">
                                                    <div class="form-group">
                                                        <label class=" control-label">Name</label>
                                                        <p>{{radioObj.name}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label">notes</label>
                                                        <p>{{radioObj.notes}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label">status</label>
                                                        <p>{{radioObj.status}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-xs-6">
                                                    <div class="row container app">
                                                        <div text-angular="text-angular"
                                                             name="htmlcontent+{{innerIndex}}"
                                                             ng-model="radioObj.result"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Select Document</label>
                                                    <div class="col-sm-8">
                                                        <input type="file" id="ra" name="ra" accept="*/*"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button"
                                                    ng-if="radio.radiologyList.length >0 && (radioObj.status !== 'Finished' )"
                                                    class="btn btn-danger" ng-disabled="vm.dataLoading2"
                                                    ng-click="vm.saveRadio(radioObj,OuterIndex)">save
                                                <!--<img ng-if="vm.loading2"-->
                                                     <!--src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>-->

                                            </button>
                                            <button type="button" ng-if="radioObj.status === 'New' "
                                                    class="btn btn-danger"
                                                    ng-click="vm.addToProgress(radioObj,OuterIndex)">add to current
                                                list
                                            </button>
                                            <button type="button" ng-if="radioObj.status ==='InProgress' "
                                                    class="btn btn-danger"
                                                    ng-click="vm.cancelTest(radioObj,OuterIndex)">cancel
                                            </button>
                                        </div>

                                    </div>
                                    <div class="">

                                    </div>

                                </div>
                                <div class="r-line"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("i").removeClass("treat");
    });
</script>