<!--<div ng-controller="examinationSheetController as vm">-->

<div class="col-xs-12 bg_white">
    
    <h4 class="title2">Investigations</h4>
    
    <div class="treat">

        <div class="row">
            <label class="col-sm-12">Radiology : </label>

            <div data-ng-repeat="checkBox in vm.radiologyCheckBoxes">
                <div class="col-md-2 col-sm-6">
                    <label class="check_lab">
                        <input type="checkbox" class="minimal" ng-model="checkBox.value" ng-change="vm.addRadiologyFromCheckBox(checkBox,checkBox.value)">
                        {{checkBox.name}}
                    </label>
                </div>
            </div>
        </div>

        <div class="radiation_table">

            <div class="row hidden-xs" ng-if="vm.requiredRadiology.length">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">name</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group2">
                        <label class="">Body Part</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group2">
                        <label class="">Direction</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group form-group2">
                        <label class="">Notes</label>
                    </div>
                </div>
            </div>


            <div ng-repeat="radio in vm.requiredRadiology track by $index " class="row margin_bot3">

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="" ng-if="!radio.other">{{radio.name}}</label>
                        <input class="form-control" placeholder="name" type="text" ng-model="radio.name" ng-if="radio.other">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <!--<input class="form-control" placeholder="bodyPart" type="text"-->
                        <!--ng-model="radio.bodyPart">-->
                        <select class="form-control" name="bodyPart" id="bodyPart" ng-model="radio.bodyPart">
                            <option ng-repeat="option in vm.bodyParts" value="{{option}}">
                                {{option}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <!--<input class="form-control" placeholder="Direction" type="text"-->
                        <!--ng-model="radio.direction">-->
                        <select class="form-control" name="Direction" id="Direction" ng-model="radio.direction">
                            <option ng-repeat="option in vm.radiologDirections" value="{{option}}">
                                {{option}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" placeholder="Write your notes......" type="text" ng-model="radio.notes">
                    </div>
                </div>

                <span class="col-md-1" ng-if="radio.other" ng-click="vm.addItem(radio)">
                    <i class="fa fa-plus-square" style="display: inline"></i>
                </span>
                <!--<span class="col-md-1" ng-click="vm.deleteItem(vm.requiredRadiology,$index)">-->
                <!--<i class="fa fa-minus-square" style="display: inline"></i>-->
                <!--</span>-->
                <span class="col-md-1" ng-click="vm.deleteRadiologyItem(vm.requiredRadiology,$index,radio)">
                    <i class="fa fa-minus-square" style="display: inline"></i>
                </span>

            </div>
        </div>

        
        <div class="row">
            <div class="select_radio">

                <label class="col-sm-4">Select Radiology</label>

                <ui-select class="col-sm-8" ng-model="vm.selectedRadiology" theme="select2" ng-change="vm.addRadiology(vm.selectedRadiology)" title="Choose a radiology test">
                    <ui-select-match placeholder="Select a radiology in the list or search his name/age...">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices group-by="vm.firstLetterGroupFn" repeat="radiology in vm.radiologyLookUps | propsFilter: {name: $select.search} | limitTo: 50" position='auto'>
                        <div ng-bind-html="radiology.name | highlight: $select.search"></div>

                    </ui-select-choices>
                </ui-select>

            </div>

        </div>
        <!--{{vm.requiredRadiology}}-->
    </div>
    
    

    <div class="treat">
        <div class="radiation">

            <div class="row">
                <label class="col-sm-12 control-label">Analysis : </label>

                <div data-ng-repeat="checkBox in vm.analysisCheckBoxes">
                    <div class="col-md-2 col-sm-6">
                        <label class="check_lab">
                            <input type="checkbox" class="minimal" ng-model="checkBox.value" ng-change="vm.addAnalysisFromCheckBox(checkBox,checkBox.value)">
                            {{checkBox.name}}
                        </label>
                    </div>
                </div>

            </div>

            <div class="radiation_table">

                <div class="row hidden-xs" ng-if="vm.analysisList.length">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="">Name</label>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="">Notes</label>
                        </div>
                    </div>
                </div>

                <div data-ng-repeat="data in vm.analysisList" class="row margin_bot3">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="" ng-if="!data.other">{{data.name}}</label>
                            <input class="form-control" placeholder="name" type="text" ng-model="data.name" ng-if="data.other">
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group form-group2">
                            <label class="hidden-md hidden-lg">Notes</label>
                            <input class="form-control" placeholder="enter your notes .... " type="text">
                        </div>
                    </div>

                    <span class="col-md-1" ng-if="data.other" ng-click="vm.addItem(data)">
                        <i class="fa fa-plus-square" style="display: inline"></i>
                    </span>

                    <span class="col-md-1" ng-click="vm.deleteAnalysisItem(vm.analysisList,$index,data)">
                        <i class="fa fa-minus-square" style="display: inline"></i>
                    </span>

                </div>

            </div>

            <div class="row">
                <div class="select_radio">

                    <label class="col-sm-4">Select Analysis</label>

                    <ui-select class="col-sm-8" ng-model="vm.selectedAnalsis" theme="select2" ng-change="vm.AddAnalysis(vm.selectedAnalsis)" title="Choose a analysis test">
                        <ui-select-match placeholder="Select a analysis in the list or search his name/age...">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices group-by="vm.firstLetterGroupFn" repeat="analysis in vm.analysisLookUps | propsFilter: {name: $select.search} | limitTo: 50" position='auto'>
                            <div ng-bind-html="analysis.name | highlight: $select.search"></div>
                            <small>
                            </small>
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>

        </div>
    </div>


    <div class="treat">

        <label class="col-sm-12">Treatment : </label>
        
        <div class="radiation_table">
            <div class="row hidden-xs" ng-if="vm.treatmentList.length">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class=" control-label">Name</label>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group form-group2">
                        <label class="control-label">quantity</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group2">
                        <label class="control-label">Frequency</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group2">
                        <label class="control-label">Duration</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group2">
                        <label class="control-label">Direction</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group2">
                        <label class="control-label">Notes</label>
                    </div>
                </div>
            </div>

        </div>

        <div ng-repeat="data in vm.treatmentList track by $index ">
            <div class="row margin_bot3">

                <div class="col-md-2">
                    <div class="form-group">
                        <label class=" control-label" ng-if="!data.other">{{data.name}}</label>
                        <input class="form-control" placeholder="name" type="text" ng-model="data.name" ng-if="data.other">
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group form-group2">
                        <select class="form-control" name="DOSE" id="quantity" ng-model="data.dose">
                            <!--quantity-->
                            <option ng-repeat="option in vm.drugQuantities" value="{{option}}">
                                {{option}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group2">
                        <select class="form-control" name="DOSE" id="DOSE" ng-model="data.frequency">
                            <option ng-repeat="option in vm.drugFrequencies" value="{{option}}">
                                {{option}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group2">
                        <select class="form-control" name="drugDuration" id="drugDuration" ng-model="data.duration">
                            <option ng-repeat="option in vm.drugDurations" value="{{option}}">
                                {{option}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group2">
                        <select class="form-control" name="drugDuration" id="drugDirection" ng-model="data.direction">
                            <option ng-repeat="option in vm.drugDirections" value="{{option}}">
                                {{option}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group2">
                        <input class="form-control" placeholder="take it after eating" type="text" ng-model="data.notes">
                    </div>
                </div>

                <span class="col-md-1" ng-if="data.other" ng-click="vm.addItem(data)">
                    <i class="fa fa-plus-square" style="display: inline"></i>
                </span>

                <span class="col-md-1" ng-click="vm.deleteItem(vm.treatmentList,$index)">
                    <i class="fa fa-minus-square" style="display: inline"></i>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="">
                <label class="col-sm-4 control-label">Select Treatment</label>

                <div class="">
                    <div class="select">
                        <ui-select class="col-sm-8" ng-model="vm.selectedTretment" theme="select2" ng-change="vm.addTretment(vm.selectedTretment)" title="Choose a analysis test">
                            <ui-select-match placeholder="Select a treatment in the list or search his name/age...">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices group-by="vm.firstLetterGroupFn" repeat="treatment in vm.treatmentLookUp | propsFilter: {name: $select.search} | limitTo: 50" position='auto'>
                                <div ng-bind-html="treatment.name | highlight: $select.search "></div>
                                <small>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="sub mar_top16 text_center">
        <button type="button" class="btn btn-primary" ng-click="vm.confirmSave()" ng-disabled="vm.examinationSheet.id">
            save
        </button>
    </div>
</div>
<!--</div>-->
