<div class="data">
    <div class="box box-danger">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="rosheta">
                    <!--<div class="rosheta-title">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="r-left-side">-->
                                    <!--<h3>Doctor</h3>-->
                                    <!--<h2>{{vm.followUpAnalysis[0].visitId.clinicId.doctorId.doctors.doctorName}}</h2>-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="rosheta-content">
                        <div  ng-repeat="analysis in vm.followUpAnalysis  track by $index "
                             ng-init="OuterIndex = $index">
                            <div class="treat r-item" ng-if="analysis.analysisList.length && analysis.analysisList.length >0">
                                <div class="row">
                                    <div class="col-md-1"
                                         ng-click="vm.followUpAnalysis[OuterIndex].show = !vm.followUpAnalysis[OuterIndex].show">
                                        <div class="form-group">
                                            <button ng-if="!vm.followUpAnalysis[OuterIndex].show " type="button"
                                                    class="btn btn-default">+
                                            </button>
                                            <button ng-if="vm.followUpAnalysis[OuterIndex].show " type="button"
                                                    class="btn btn-default">-
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <div class="form-group">
                                            <label class=" control-label">date</label>
                                            <p>{{vm.convertDate(analysis.date)}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-6">
                                        <div class="form-group">
                                            <label class=" control-label">Provider</label>
                                            <br>{{analysis.visitId.clinicId.doctorId.doctors.doctorName}}</br>{{analysis.visitId.clinicId.doctorId.doctors.specialty}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <div class="form-group">
                                            <label class=" control-label">Mobile Number</label>
                                            <p>{{analysis.visitId.clinicId.doctorId.doctors.mobileNumber}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="vm.followUpAnalysis[OuterIndex].show">
                                    <div class="r-item"
                                         ng-repeat="analysisObj in analysis.analysisList track by $index "
                                         ng-init=" innerIndex = $index">
                                        <div class="treat">
                                            <div class="row">
                                                <div class="col-md-3 col-xs-6">
                                                    <div class="form-group">
                                                        <label class=" control-label">Name</label>
                                                        <p>{{analysisObj.name}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label">notes</label>
                                                        <p>{{analysisObj.notes}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label">status</label>
                                                        <p>{{analysisObj.status}}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <!--<button type="button" ng-disabled="vm.dataLoading"-->
                                                    <!--ng-if="analysis.analysisList.length >0 && (analysisObj.status !== 'Finished' )"-->
                                                    <!--class="btn btn-danger"-->
                                                    <!--ng-click="vm.saveLabTest(analysisObj,OuterIndex)">save-->
                                                    <!--</button>-->
                                                    <button type="button" ng-if="analysisObj.status === 'New' "
                                                            class="btn btn-danger"
                                                            ng-click="vm.addLabTestToProgress(analysisObj,OuterIndex)">add to
                                                        current
                                                        list
                                                    </button>
                                                    <button type="button" ng-if="analysisObj.status ==='InProgress' "
                                                            class="btn btn-danger"
                                                            ng-click="vm.cancelLabTest(analysisObj,OuterIndex)">cancel
                                                    </button>
                                                </div>
                                            </div>

                                            <!--<div class="row">-->
                                                <!--<div class="col-md-3 col-xs-6">-->

                                                    <!--<div class="row container app">-->

                                                        <!--<div text-angular="text-angular"-->
                                                             <!--name="htmlcontent+{{innerIndex}}"-->
                                                             <!--ng-model="analysisObj.result"></div>-->

                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="row">-->

                                                <!--<div class="form-group">-->
                                                    <!--<label class="col-sm-4 control-label">Select Document</label>-->
                                                    <!--<div class="col-sm-8">-->
                                                        <!--<input required type="file" id="ana" name="ana" accept="*/*"/>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="r-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>