<div class="data">
    <div class="box box-danger">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="rosheta">
                    <div class="rosheta-content">
                        <div  ng-repeat="analysis in vm.followUpDrugs  track by $index "
                             ng-init="OuterIndex = $index">
                            <div class="r-item" ng-if="analysis.drugsList.length && analysis.drugsList.length >0">
                                <div class="treat">
                                    <div class="row">
                                        <div class="col-md-1"
                                             ng-click="vm.followUpDrugs[OuterIndex].show = !vm.followUpDrugs[OuterIndex].show">
                                            <div class="form-group">
                                                <!--<p class="sign-r" ng-if="!vm.followUpDrugs[OuterIndex].show ">+</p>-->
                                                <button ng-if="!vm.followUpDrugs[OuterIndex].show " type="button"
                                                        class="btn btn-default">+
                                                </button>
                                                <button ng-if="vm.followUpDrugs[OuterIndex].show " type="button"
                                                        class="btn btn-default">-
                                                </button>
                                                <!--<p class="sign-r" ng-if="vm.followUpDrugs[OuterIndex].show ">-</p>-->
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                            <div class="form-group">
                                                <label class=" control-label">date</label>
                                                <p>{{vm.convertDate(analysis.date)}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-xs-6">
                                            <div class="form-group">
                                                <label class=" control-label">doctor</label>
                                                <p>{{analysis.visitId.clinicId.doctorId.doctors.doctorName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-xs-6">
                                            <div class="form-group">
                                                <label class=" control-label">Specialty</label>
                                                <p>{{analysis.visitId.clinicId.doctorId.doctors.specialty}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                            <div class="form-group">
                                                <label class=" control-label">Mobile Number</label>
                                                <p>{{analysis.visitId.clinicId.doctorId.doctors.mobileNumber}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="vm.followUpDrugs[OuterIndex].show">
                                    <div class="r-item"
                                         ng-repeat="treatment in analysis.drugsList track by $index "
                                         ng-init=" innerIndex = $index">
                                        <div class="treat">
                                            <div class="row">
                                                <div class="col-md-3 col-xs-6">
                                                    <div class="form-group">
                                                        <label class=" control-label">Name/Active</label>
                                                        <p>{{treatment.name}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label">quantity</label>
                                                        <p>{{treatment.dose}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Frequency</label>
                                                        <p>{{treatment.frequency}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Duration</label>
                                                        <p>{{treatment.duration}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Direction</label>
                                                        <p>{{treatment.direction}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Notes</label>
                                                        <p>{{treatment.notes}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label">given</label>
                                                        <input type="checkbox" ng-model="treatment.result"
                                                               ng-change="givenChange(treatment)"
                                                               ng-disabled="treatment.result && treatment.pharId">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="form-group">
                                            <button type="button" ng-if="analysis.drugsList.length >0"
                                                    class="btn btn-danger"
                                                    ng-click="vm.saveFollowUpTreatment(analysis,analysis.drugsList)">
                                                save
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="r-line"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>