<div>

    <div class="user_data">
        <div class="container">
            <div class="htag_header">

                <div class="logo_htag">
                    <div class="htag_img">
                        <img src="dist/img/logo%20slogan%20wh.png"/>
                    </div>
                </div>

                <div class="user_chose">
                    <div class="user_status">
                        <p ng-if="!vm.loggedIn">
                            <a href="#!/login"><span>Login</span></a>
                            <span class="hidden-xs">/</span>
                            <a href="#!/register"> <span>Sign up</span></a>
                        </p>
                        <p ng-if="vm.loggedIn">
                            <a  href="{{vm.pageType}}"><span>Home</span></a>
                            <span class="hidden-xs">/</span>
                            <a ng-click="vm.logOut()"><span>Log Out</span></a>
                        </p>
                    </div>
                    
                    <div class="language">
                        <img src="dist/img/EN.svg" alt="EN Language" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="search_slider">
        <div class="search">
            <div class="container">

                <div class="search2">
                    <h3> Visit the Best doctors when you want </h3>
                    <form name="form" ng-submit="vm.search(1)">

                        <div class="search-back">
                            <div class="search-body">

                                <div class="btn-group">
                                    <img src="dist/img/medical-stethoscope.png"/>
                                    <select class="form-control" id="mainSelect" onchange="chooseSelect(this)"
                                            ng-model="vm.searchType">
                                        <option value="" selected>Select Type of search</option>
                                        <option class="options" value="Doctor">Doctor</option>
                                        <option class="options" value="Pharmacy">Pharmacy</option>
                                        <option class="options" value="Lap">Lap</option>
                                        <option class="options" value="Radiation center">Radiation center</option>
                                    </select>
                                </div>
                                <div class="btn-group">
                                    <img src="dist/img/medical-stethoscope.png"/>
                                    <select class="form-control" id="theSelect" ng-model="vm.searchModel.specialty">
                                        <option value="" selected>Specialty</option>
                                        <option value="Allergist/Immunologist">Allergist/Immunologist</option>
                                        <option value="Cardiologist">Cardiologist</option>
                                        <option value="Chiropractor">Chiropractor</option>
                                        <option value="Dermatologist">Dermatologist</option>
                                        <option value="Family Practitioner">Family Practitioner</option>
                                        <option value="Obstetrician/Gynecologist">Obstetrician/Gynecologist</option>
                                        <option value="Orthopedic Surgeon">Orthopedic Surgeon</option>
                                        <option value="Pediatrician">Pediatrician</option>
                                        <option value="Physical Medicine and Rehab">Physical Medicine and Rehab</option>
                                        <option value="Plastic Surgeon">Plastic Surgeon</option>
                                        <option value="Podiatrist">Podiatrist</option>
                                        <option value="Psychiatrist">Psychiatrist</option>
                                        <option value="Urgent Care">Urgent Care</option>
                                    </select>
                                </div>

                                <div class="btn-group">
                                    <img src="dist/img/pin.png"/>
                                    <select class="form-control" ng-model="vm.searchModel.government">
                                        <option value="" disabled selected>Government</option>
                                        <option value="المنوفية">المنوفية</option>
                                    </select>
                                </div>

                                <div class="btn-group">
                                    <img src="dist/img/pin.png"/>
                                    <select class="form-control" ng-model="vm.searchModel.area">
                                        <option value="" disabled selected>Area</option>
                                        <option value="شبين الكوم">شبين الكوم</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-danger">
                                    <span class="hidden-xs">Search</span>
                                    <span class="visible-xs">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </button>

                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="about_htag">
        <div class="container">
            <div class="row">

                <div class="header">
                    <h2>About HealthTag</h2>
                </div>

                <div class="htag_info">

                    <div class="col-sm-4">
                        <div class="type_info">

                            <div class="type_img">
                                <img src="dist/img/doctor_icon.png"/>
                            </div>

                            <div class="type_date">
                                <div class="type_header">
                                    <h3>Physician</h3>
                                </div>

                                <div class="type_list">
                                    <p>- Increase productivity</p>
                                    <p>- Reach more patients </p>
                                    <p>- Free digital management app</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="type_info">

                            <div class="type_img">
                                <img src="dist/img/multiple-users-silhouette.png"/>
                            </div>

                            <div class="type_date">
                                <div class="type_header">
                                    <h3>Patient</h3>
                                </div>

                                <div class="type_list">
                                    <p>- have all your medical records in your pocket</p>
                                    <p>- get instant discounts and promo codes</p>
                                    <p>- get one for people you care about</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="type_info">

                            <div class="type_img">
                                <img src="dist/img/pharmacy-tool.png"/>
                            </div>

                            <div class="type_date">
                                <div class="type_header">
                                    <h3>Pharmacy</h3>
                                </div>

                                <div class="type_list">
                                    <p>- Increase patients flow</p>
                                    <p>- be first to go digital</p>
                                    <p>- Reduce medical errors</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-offset-4 col-sm-4">
                        <div class="type_info">

                            <div class="type_img">
                                <img src="dist/img/lab-microscope.png"/>
                            </div>

                            <div class="type_date">
                                <div class="type_header">
                                    <h3>lab & radiology</h3>
                                </div>

                                <div class="type_list">
                                    <p>- Increase profits by cutting paper consumption</p>
                                    <p>- Increase patients flow</p>
                                    <p>- get more referrals</p>
                                    <p>- manage and store your data</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="demo_htag">
        <div class="container">

            <div class="header">
                <h2>Request Demo</h2>
            </div>
            <form name="myForm" id="myForm" ng-submit="vm.addRequestDemo()">


                <div class="demo_inputs">
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">
                            <span data-brackets-id="467" class="required_input">*</span>
                            <select class="form-control">
                                <option class="options">Account Type</option>
                                <option class="options">Doctor</option>
                                <option class="options">Pharmacy</option>
                                <option class="options">Lab</option>
                                <option class="options">Radiation center</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-4">
                            <span data-brackets-id="467" class="required_input">*</span>
                            <input class="form-control" required ng-model="vm.requestObject.name"
                                   placeholder="Enter your name" type="text">
                        </div>

                        <div class="col-sm-4">
                            <span class="required_input">*</span>
                            <input class="form-control" type="email" ng-model="vm.requestObject.email"
                                   placeholder="Enter your e-mail" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-4">
                            <input class="form-control" required ng-model="vm.requestObject.mobile"
                                   placeholder="Enter your mobile number" type="text">
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control" ng-model="vm.requestObject.address"
                                   placeholder="Enter your Address" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">
                            <textarea class="form-control" ng-model="vm.requestObject.notes"
                                      placeholder="Enter your message......."></textarea>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-sm-offset-3 col-sm-6">
                            <input class="form-control" ng-model="vm.requestObject.type" placeholder="Enter your type" type="text">
                        </div>
                    </div>-->

                    <div class="row">
                        <div class="col-sm-12 send_btn">
                            <button class="btn btn-danger" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="contact_us">
        <div class="container">

            <div class="header">
                <h2>Contact Us</h2>
            </div>

            <div class="row">

                <div class="col-sm-offset-2 col-sm-4">
                    <div class="address">
                        <img src="dist/img/placeholder.png"/>
                        <p>The Greek Campus، 171 Tahrir St., Bab El Louk، Ad Dawawin, Abdeen, 11513.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="address">
                        <img src="dist/img/envelope.png"/>
                        <p>info@bypa-ss.com</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="home_footer">
        <div class="footer_back">
            <div class="container">

                <div class="flex_box">
                    <p>© 2018 All Rights Reserved. Design By Bypa-ss</p>

                    <div class="social_icon">
                        <a href="www.facebook.com/healthtag1" target="_blank">
                            <img class="social_img" src="dist/img/facebook.svg" />
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
