<div >
	<div class="user_data">
		<div class="container">
			<div class="htag_header">

				<div class="logo_htag">
					<div class="htag_img">
						<img src="dist/img/logo%20slogan%20wh.png" />
					</div>
				</div>

				<div class="user_chose">
					<div class="user_status">
						<p ng-if="!vm.loggedIn">
							<a href="#!/login"><span>Login</span></a>
							<span class="hidden-xs">/</span>
							<a href="#!/register"> <span>Sign up</span></a>
						</p>
						<p ng-if="vm.loggedIn">
							<a  href="{{vm.pageType}}"><span>Home</span></a>
                            <span class="hidden-xs">/</span>
							<a ng-click="vm.logOut()"><span>Log Out</span></a>
						</p>
					</div>
                    
                    <div class="language">
                        <img src="dist/img/AR.svg" alt="AR Language" />
                    </div>
				</div>

			</div>
		</div>
	</div>

	<div class="search-bar">
		<div class="container">

			<div class="search2">
				<div class="row">
					<div class="col-sm-6 hidden-xs">
						<h3 class="search_header"> Visit the Best doctors when you want </h3>
					</div>

					<div class="col-sm-6 col-xs-12">
						<div class="doctor_img">
							<img src="dist/img/doctor4.png" />
						</div>
					</div>
				</div>
				<form name="form" ng-submit="vm.search(2)">

				<div class="search-back">
					<div class="search-body">

						<div class="btn-group">
							<img src="dist/img/medical-stethoscope.png"/>
							<select class="form-control" id="mainSelect" onchange="chooseSelect(this)" ng-model="vm.searchType">
								<option value="" disabled selected>Select Type of search</option>
								<option class="options" value="Doctor">Doctor</option>
								<option class="options" value="Pharmacy">Pharmacy</option>
								<option class="options" value="Lap">Lab</option>
								<option class="options" value="Radiation center">Radiation center</option>
							</select>
						</div>
                        
						<div  class="btn-group">
							<img src="dist/img/medical-stethoscope.png" />
							<select class="form-control" id="theSelect" ng-model="vm.searchModel.specialty">
								<option value="" disabled selected>Specialty</option>
								<option value="Allergist/Immunologist">Allergist/Immunologist</option>
								<option value="Cardiologist">Cardiologist</option>
								<option value="Chiropractor">Chiropractor</option>
								<option value="Dermatologist">Dermatologist</option>
								<option value="Family Practitioner">Family Practitioner</option>
								<option value="Obstetrician/Gynecologist">Obstetrician/Gynecologist</option>
								<option value="Orthopedic Surgeon">Orthopedic Surgeon</option>
								<option value="Pediatrician">Pediatrician</option>
								<option value="Physical Medicine and Rehab">Physical Medicine and Rehab</option>
								<option value="Plastic Surgeon">Plastic Surgeon</option>
								<option value="Podiatrist">Podiatrist</option>
								<option value="Psychiatrist">Psychiatrist</option>
								<option value="Urgent Care">Urgent Care</option>
							</select>
						</div>

						<div class="btn-group">
							<img src="dist/img/pin.png" />
							<select class="form-control" ng-model="vm.searchModel.government">
								<option value="" disabled selected>Government</option>
								<option value="المنوفية">المنوفية</option>
							</select>
						</div>

						<div class="btn-group">
							<img src="dist/img/pin.png" />
							<select class="form-control" ng-model="vm.searchModel.area">
								<option value="" disabled selected>Area</option>
								<option value="شبين الكوم">شبين الكوم</option>
							</select>
						</div>

						<button type="submit" class="btn btn-danger">
							<span class="hidden-xs">Search</span>
							<span class="visible-xs">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
						</button>

					</div>
				</div>
				</form>
			</div>
		</div>
	</div>

	<div class="search-home">
		<div class="container">
			<div class="row">

				<!-- search result for doctor-->
				<div  ng-if="vm.type === 'Doctor'" class="search-result">

					<div class="result-item" ng-repeat="doctor in vm.doctors">
						<div class="row">
							<div class="col-sm-3">
								<div class="user_img">
									<img ng-if="doctor[6]" class="result-img" src="{{ doctor[6] }}" />
									<!--<p class="result-view">277 Views</p>-->
								</div>

							</div>
							<div class="col-sm-9 result-date">
								<h4>{{ doctor[2] }}</h4>
								<p>{{ doctor[4] }}</p>
								<p>{{ doctor[5] }}</p>


								<div class="result-more">
									<div onclick="seeMore(this)" class="result-down">
										<button id="{{ doctor[2] }}" class="btn btn-danger">See More</button>
									</div>

									<div onclick="seeLess(this)" class="result-up">
										<button class="btn btn-dark">See Less</button>
									</div>
								</div>

								<ul class="list-unstyled result-ul">
									<li><i class="fa fa-map-marker fa-lg"></i> {{ doctor[0]}}</li>
									<li><i class="fa fa-phone fa-lg"></i> Clinic Number : {{ doctor[1] }}</li>
									<li><i class="fa fa-envelope-square fa-lg"></i> Doctor E-mail : {{ doctor[3] }}</li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<!-- search result for pharmacy -->
				<div ng-if="vm.type === 'Pharmacy'" class="search-result">

					<div class="result-item pharm_panel" ng-repeat="phar in vm.phars">
						<div class="row">
							<div class="col-sm-3">
								<div class="user_img">
									<img ng-if="phar.picture" class="result-img" src="{{phar.picture}}" />
									<!--<p class="result-view">277 Views</p>-->
								</div>
							</div>

							<div class="col-sm-9 result-date">
								<h4>{{ phar.pharName }}</h4>

								<div class="result-more">
									<div onclick="seeMore(this)" class="result-down">
										<button class="btn btn-danger">See More</button>
									</div>

									<div onclick="seeLess(this)" class="result-up">
										<button class="btn btn-dark">See Less</button>
									</div>
								</div>
								<ul class="list-unstyled result-ul">
									<li><i class="fa fa-map-marker fa-lg"></i>{{ phar.address }}</li>
									<li><i class="fa fa-phone fa-lg"></i> Pharmacy Number : {{ phar.mobileNo }} - {{ pahr.addMobileNo }}</li>
									<li><i class="fa fa-envelope fa-lg"></i> Pharmacy E-mail : {{ phar.email }}</li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<!-- search result for lab -->
				<div ng-if="vm.type === 'Lap'" class="search-result">

					<div class="result-item pharm_panel" ng-repeat="lap in vm.laps">
						<div class="row">
							<div class="col-sm-3">
								<div class="user_img">
									<img ng-if="lap.picture" class="result-img" src="{{lap.picture}}" />
									<!--<p class="result-view">277 Views</p>-->
								</div>
							</div>

							<div class="col-sm-9 result-date">
								<h4>{{ lap.lapName }}</h4>

								<div class="result-more">
									<div onclick="seeMore(this)" class="result-down">
										<button class="btn btn-danger">See More</button>
									</div>

									<div onclick="seeLess(this)" class="result-up">
										<button class="btn btn-dark">See Less</button>
									</div>
								</div>

								<ul class="list-unstyled result-ul">
									<li><i class="fa fa-map-marker fa-lg"></i>{{ lap.address }}</li>
									<li><i class="fa fa-phone fa-lg"></i> Lab Number : {{ lap.mobileNo }} - {{ lap.addMobileNo }}</li>
									<li><i class="fa fa-envelope fa-lg"></i> Lab E-mail : {{ lap.email }}</li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<!-- search result for radiation -->
				<div ng-if="vm.type === 'Radiation center'" class="search-result">

					<div class="result-item pharm_panel"  ng-repeat="rad in vm.rads">
						<div class="row">
							<div class="col-sm-3">
								<div class="user_img">
									<img ng-if="rad.picture" class="result-img" src="{{rad.picture}}" />
									<!--<p class="result-view">277 Views</p>-->
								</div>
							</div>

							<div class="col-sm-9 result-date">
								<h4>{{ rad.radName }}</h4>

								<div class="result-more">
									<div onclick="seeMore(this)" class="result-down">
										<button class="btn btn-danger">See More</button>
									</div>

									<div onclick="seeLess(this)" class="result-up">
										<button class="btn btn-dark">See Less</button>
									</div>
								</div>

								<ul class="list-unstyled result-ul">
									<li><i class="fa fa-map-marker fa-lg"></i>{{ rad.address }}</li>
									<li><i class="fa fa-phone fa-lg"></i> Radiation Center Number : {{ rad.mobileNo }} - {{ lap.addMobileNo }}</li>
									<li><i class="fa fa-envelope fa-lg"></i> Radiation Center E-mail : {{ rad.email }}</li>
								</ul>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="home_footer">
        <div class="footer_back">
            <div class="container">

                <div class="flex_box">
                    <p>© 2018 All Rights Reserved. Design By Bypa-ss</p>

                    <div class="social_icon">
                        <a href="www.facebook.com/healthtag1" target="_blank">
                            <img class="social_img" src="dist/img/facebook.svg" />
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
	$(".result-up").hide();

	function seeMore(el) {
		console.log(el);
		$(el).parent().next().slideDown(500);
		$(el).hide();
		$(el).next().show();
	}
	function seeLess(el) {
		console.log('in see less1');
		$(el).parent().next().slideUp(500);
		$(el).hide();
		$(el).prev().show();
	}

</script>

