<div class="wrapper">

    <div ng-include="'app-resources/laps/lapsLayout/header.html'"></div>

    <div ng-include="'app-resources/laps/lapsLayout/aside.html'"></div>

    <div class="content-wrapper">

        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Patient History</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>ID</th>
                                    <th>Doctor Name</th>
                                    <th>Specialty</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                                <tr>
                                    <td><a data-toggle="modal" data-target="#myModal3">1</a></td>
                                    <td>John Doe</td>
                                    <td>Heart</td>
                                    <td>Pharmacy</td>
                                    <td>2/2/2019</td>
                                    <td><span class="label label-success">Done</span></td>
                                </tr>
                                <tr>
                                    <td><a data-toggle="modal" data-target="#myModal3">2</a></td>
                                    <td>John Doe</td>
                                    <td>Heart</td>
                                    <td>Pharmacy</td>
                                    <td>2/2/2019</td>
                                    <td><span class="label label-success">Done</span></td>
                                </tr>
                                <tr>
                                    <td><a data-toggle="modal" data-target="#myModal3">3</a></td>
                                    <td>John Doe</td>
                                    <td>Heart</td>
                                    <td>Radiology center</td>
                                    <td>2/2/2019</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <td><a data-toggle="modal" data-target="#myModal3">4</a></td>
                                    <td>John Doe</td>
                                    <td>Heart</td>
                                    <td>Pharmacy</td>
                                    <td>2/2/2019</td>
                                    <td><span class="label label-success">Done</span></td>
                                </tr>
                                <tr>
                                    <td><a data-toggle="modal" data-target="#myModal3">5</a></td>
                                    <td>John Doe</td>
                                    <td>Heart</td>
                                    <td>Lab</td>
                                    <td>2/2/2019</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Pharmacy</h4>
                                </div>

                                <div class="modal-body">
                                    <div class="data">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img class="img-responsive" src="dist/img/logo%20slogan2.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>

    <div ng-include="'app-resources/layout/footer.html'"></div>
</div>
