<div class="wrapper">

    <!-- Main Header -->
    <div ng-include="'app-resources/laps/lapsLayout/header.html'"></div>

    <!--aside-->
    <div ng-include="'app-resources/laps/lapsLayout/aside.html'"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!--<section class="content-header">-->
        <!--<h1>{{ vm.laps.lapName }}</h1>-->
        <!--</section>-->

        <!-- Main content -->
        <section class="content">

            <!--head-->
            <!--<div ng-include="'app-resources/laps/lapsLayout/head.html'"></div>-->


            <div class="data">
                <div class="box box-danger">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="rosheta">
                                <div class="rosheta-title">
                                    <div class="row">

                                    </div>
                                </div>

                                <!--<div class="r-line"></div>-->

                                <div class="rosheta-content">

                                    <div class="r-item" ng-repeat="followUpRadio in vm.currentList  track by $index "
                                         ng-init="patientIndex = $index">
                                        {{followUpRadio[0].follow.visitId.patientId.patientName}}

                                        <div class="col-md-1"
                                             ng-click="followUpRadio[OuterIndex].show = !followUpRadio[OuterIndex].show">
                                            <div class="form-group">
                                                <!--<p class="sign-r" ng-if="!followUpRadio[OuterIndex].show ">+</p>-->
                                                <button ng-if="!followUpRadio[OuterIndex].show " type="button"
                                                        class="btn btn-default">+
                                                </button>
                                                <button ng-if="followUpRadio[OuterIndex].show " type="button"
                                                        class="btn btn-default">-
                                                </button>
                                                <!--<p class="sign-r" ng-if="followUpRadio[OuterIndex].show ">-</p>-->
                                            </div>
                                        </div>
                                        <div ng-if="followUpRadio[OuterIndex].show">
                                            <div class="r-item" ng-repeat="radio in followUpRadio  track by $index "
                                                 ng-init="OuterIndex = $index">
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-6">
                                                        <div class="form-group">
                                                            <label class=" control-label">date</label>
                                                            <p>{{radio.date}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-xs-6">
                                                        <div class="form-group">
                                                            <label class=" control-label">notes</label>
                                                            <p>{{radio.notes}}</p>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!--<div class="r-item" >-->
                                                <!--ng-repeat="radio in radio.radiologyList track by $index "-->
                                                <!--ng-init=" innerIndex = $index">-->
                                                <div class=" ">
                                                    <div class="row">
                                                        <div class="col-md-3 col-xs-6">
                                                            <div class="form-group">
                                                                <label class=" control-label">Name</label>
                                                                <p>{{radio.name}}</p>
                                                            </div>
                                                        </div>
                                                        <!--<div class="col-md-3 col-xs-6">-->
                                                        <!--<div class="form-group">-->
                                                        <!--<label class="control-label">notes</label>-->
                                                        <!--<p>{{radio.notes}}</p>-->
                                                        <!--</div>-->
                                                        <!--</div>-->
                                                        <div class="col-md-3 col-xs-6">
                                                            <div class="form-group">
                                                                <label class="control-label">doctor</label>
                                                                <p>
                                                                    {{radio.follow.visitId.clinicId.doctorId.doctors.doctorName}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-xs-6">
                                                            <div class="form-group">
                                                                <label class="control-label">status</label>
                                                                <p>{{radio.status}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 col-xs-12">

                                                            <div class="row container app">

                                                                <div text-angular="text-angular"
                                                                     name="htmlcontent+{{OuterIndex}}"
                                                                     ng-model="radio.result"></div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <label class="col-sm-4 control-label">Select Document</label>
                                                            <div class="form-group col-sm-8">
                                                                <input  type="file" id="ana" name="ana" accept="*/*"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group text-center">
                                                    <button type="button" ng-disabled="vm.dataLoading"
                                                            class="btn btn-primary"  ng-if="radio.status !=='Finished' "
                                                            ng-click="vm.saveRadio(radio,patientIndex,OuterIndex)">save
                                                        <!--<img ng-if="vm.loading"-->
                                                        <!--src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>-->

                                                    </button>
                                                    <button type="button"  ng-if="radio.status ==='InProgress' "
                                                            ng-if="radio.status ==='InProgress' "
                                                            class="btn btn-danger"
                                                            ng-click="vm.cancelTest(radio,patientIndex,OuterIndex)">cancel
                                                    </button>
                                                </div>
                                                <div class="">

                                                </div>


                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="r-line"></div>
                        </div>


                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $("i").removeClass("treat");
                });
            </script>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper -->