<div  class="wrapper">

    <!-- Main Header -->
    <div  ng-include="'app-resources/laps/lapsLayout/header.html'"></div>

    <!--aside-->
    <div ng-include="'app-resources/laps/lapsLayout/aside.html'"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!--<section class="content-header">-->
            <!--<h1>{{ vm.laps.lapName }}</h1>-->
        <!--</section>-->
        <!-- Main content -->
        <section class="content">

            <!--head-->
            <div ng-include="'app-resources/laps/lapsLayout/head.html'"></div>


            <div class="data">
                <div class="box box-danger">
                    <div class="bio">
                        <!--<h3>Brief Profile :</h3>-->
                        <!--<p>Dr. Ashutosh Shukla is currently the Director and H.O.D. of the Department of Medicine,-->
                            <!--Artemis Hospital, where he’s been working for the past 8 years. He is responsible for the-->
                            <!--overall administration of the Medicine department which includes analysis & performance of-->
                            <!--the department as per the business plan and conducting medical audits on a regular basis.-->
                            <!--<br> He manages patients in the OPD, IPD, ICU and Emergency conforming to the latest-->
                            <!--evidence based guidelines. Additionally, he is also the Program director of the post-->
                            <!--graduate DNB teaching program and in-charge of the Preventive Health-check Program at-->
                            <!--Artemis Hospital. </p>-->
                    </div>

                    <div class="bio">
                        <!--<h3>Bio :</h3>-->
                        <!--<ul>-->
                            <!--<li>pharmacies xxx</li>-->
                            <!--<li>Hospital Management from IIM Ahmedabad 2012</li>-->
                            <!--<li>Enhancement of peak performance at work, Harvard Medical School, Boston 2012</li>-->
                            <!--<li>Comprehensive board review in Internal Medicine, Harvard Medical School, Boston 2010-->
                            <!--</li>-->
                        <!--</ul>-->
                    </div>


                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper -->