<div class="head" ng-controller="RadiationsHeadController as vm">


    <div class="row">
        <div >
            <div class="col-md-2 col-sm-4 col-xs-4  col-sm-offset-0 col-xs-offset-4">
                <figure class="im"><img class="img-responsive"  id="img1" alt="sq-sample14"/>
                    <figcaption><i data-toggle="modal" data-target="#myModal2" class="fa fa-pencil"></i>
                    </figcaption>
                    <a href=""></a>
                </figure>
            </div>
            <div class="col-md-10 col-sm-6  col-sm-offset-0 col-xs-6 col-xs-offset-3">
                <!--<h2 class="col-xs-12 header1">{{ vm.pharmacies.doctorName }}</h2>-->
                <p class="col-xs-12">{{ vm.radiations.email }}</p>
                <p class="col-xs-12">{{ vm.radiations.mobileNo }} </p>
                <p class="col-xs-12"> {{ vm.radiations.government }} </p>
                <p class="col-md-7">{{ vm.radiations.area }}</p>
                <p class="col-md-7">{{ vm.radiations.address }}</p>
                <!--<div class="col-md-3"> <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal4">+ Add Assistant</button> </div>-->
            </div>
            <div class="col-sm-6">
                <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog" style="position: absolute">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;
                                </button>
                                <h4 class="modal-title">Change Profile Picture</h4>
                            </div>
                            <div class="modal-body">

                                <form>
                                    <input type="file" id="upload" accept="image/*"/>
                                    <!--Cropped Image: <br>-->
                                    <br>
                                    <img style="width: 170px; height: 150px;" ng-src="{{cropped.source}}"/>
                                    <!--<img ng-src="cropped.source"/>-->
                                    <!--<img ng-src="{{cropped.image}}"/>-->
                                    <!--<img ng-src="cropped.image"/>-->

                                    <!-- Croppie needs a container -> using 'boundary' option -->
                                    <!--<croppie ng-if="cropped.source" src="cropped.source"-->
                                    <!--ng-model="cropped.image"-->
                                    <!--options="{boundary:{width:300,height:350}}"></croppie>-->

                                    <br>

                                    <!--Cropped Image: <br>-->
                                    <!--<img ng-src="{{cropped.image}}"/>-->
                                </form>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            ng-click="refresh()">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs"
                                            ng-click="uploadImg()">
                                        Upload
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>