<div class="login-page">
<div class="doctor-login">
    <div class="container">

        <h1>Patient Sign Up</h1>

        <div class="login">
            <div class="row">
                <form name="form"  ng-submit="vm.register()" class="col-md-8 col-md-offset-2" role="form">

                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.fullname.$dirty && (form.fullname.$error.required || !vm.nameAviable) }">
                            <label class="col-sm-4 control-label">Full Name</label>

                            <div class="col-sm-8">
                                <input name="fullname" id="fullname" class="form-control" ng-model="vm.patient.patientName"
                                       ng-blur="vm.checkName()" required placeholder="Full Name" type="text">
                            </div>
                        </div>
                        <p ng-show="form.fullname.$dirty && form.fullname.$error.required"
                           style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should
                            enter your full name</p>

                        <p ng-show="form.fullname.$dirty && !vm.nameAviable"
                            style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> This name is not aviable</p>

                    </div>
                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.email.$dirty && ( form.email.$error.email || form.email.$error.required || !vm.emailAviable) }">
                            <label class="col-sm-4 control-label">E-mail</label>

                            <div class="col-sm-8">
                                <input name="email" id="email" class="form-control" ng-model="vm.user.loginName"
                                       ng-blur="vm.checkMail()" required="true" placeholder="E-mail" type="email">
                            </div>
                        </div>
                        <p ng-show="form.email.$dirty && form.email.$error.required"
                           style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should
                            enter your E-mail</p>
                        <p ng-show="form.email.$dirty && form.email.$error.email" style="margin-left:2%; color:#e62222">
                            <i class="fa fa-exclamation-triangle"></i> You should enter a valid E-mail</p>
                        <p ng-show="form.email.$dirty && !vm.emailAviable" style="margin-left:2%; color:#e62222">
                            <i class="fa fa-exclamation-triangle"></i> This E-mail is not aviable</p>

                    </div>

                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.password.$dirty && (form.password.$error.minlength || form.password.$error.required) }">
                            <label class="col-sm-4 control-label">Password</label>

                            <div class="col-sm-8">
                                <input name="password" id="password" class="form-control" minlength="6"
                                       ng-model="vm.user.userPassword" required placeholder="Password" type="password">
                            </div>
                        </div>
                        <p ng-show="form.password.$dirty && form.password.$error.required"
                           style="margin-left:2%; color:#e62222">
                            <i class="fa fa-exclamation-triangle"></i> You should enter your Password</p>
                        <p ng-show="form.password.$dirty && form.password.$error.minlength"
                           style="margin-left:2%; color:#e62222">
                            <i class="fa fa-exclamation-triangle"></i>Password should be at least of 6 character </p>
                    </div>

                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.password2.$dirty && ! vm.samePass  }">
                            <label class="col-sm-4 control-label">confirm Password</label>

                            <div class="col-sm-8">
                                <input name="password2" id="confirmPassword" class="form-control"
                                       ng-blur="vm.confirmPassword()"
                                       ng-model="vm.confirmPass" required placeholder="confirm Password"
                                       type="password">
                            </div>
                        </div>
                        <p ng-show="form.password2.$dirty && ! vm.samePass " style="margin-left:2%; color:#e62222">
                            <i class="fa fa-exclamation-triangle"></i>Password must be the same</p>
                    </div>

                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required }">
                            <label class="col-sm-4 control-label">Mobile Number</label>

                            <div class="col-sm-8">
                                <input class="form-control" ng-model="vm.patient.mobileNumber"
                                       placeholder="Mobile Number" type="text">
                             </div>



                        </div>
                        <p ng-show="form.mobileNumber.$dirty && form.mobileNumber.$error.required"
                           style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should
                            chosee your Mobile number<</p>

                    </div>

                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.relativeMobileNumber.$dirty && form.relativeMobileNumber.$error.required }">
                            <label class="col-sm-4 control-label">Relative Mobile Number</label>

                            <div class="col-sm-8">
                                <input class="form-control" ng-model="vm.patient.relativeMobileNumber"
                                       placeholder="Mobile Number" type="text">
                            </div>
                        </div>
                        <p ng-show="form.relativeMobileNumber.$dirty && form.relativeMobileNumber.$error.required"
                           style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should
                            chosee your Relative Mobile Number</p>

                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Gender</label>

                            <div class="col-sm-8">
                                <select class="form-control" ng-model="vm.patient.gender">
                                    <option selected>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.birthDateId.$dirty && form.birthDateId.$error.required }">
                            <label class="col-sm-4 control-label"><span class="text-danger">*</span> Date Of
                                Birth</label>

                            <div class="col-sm-8">
                                <input type="date" id="birthDateId" ng-model="vm.patient.dateOfBirth" required/>
                            </div>
                        </div>
                        <p ng-show="form.birthDateId.$dirty && form.birthDateId.$error.required"
                           style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should
                            enter your birthday </p>
                    </div>


                    <!--<ul style="list-style: none; padding: 0; margin: 0;">-->
                    <style type="text/css">

                        select {
                            width: 100%;
                        }

                        .day-container {
                            border: 2px solid red;
                            padding: 3px;
                        }

                        .day-selector {
                            background-color: black;
                            color: white;
                        }

                        .month-container {
                            border: 2px solid blue;
                            padding: 3px;
                        }

                        .month-selector {
                            background-color: orange;
                            color: blue;
                        }

                        .year-container {
                            border: 2px solid green;
                            padding: 3px;
                        }

                        .year-selector {
                            background-color: purple;
                            color: orange;
                        }
                    </style>


                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Governerate</label>

                            <div class="col-sm-8">
                                <select name="government" id="government" class="form-control"
                                        ng-model="vm.patient.government" required>
                                    <option class="cairo">القاهرة</option>
                                    <option class="alex">الاسكندرية</option>
                                    <option class="">الاسماعيلية</option>
                                    <option>اسوان</option>
                                    <option>اسيوط</option>
                                    <option>الاقصر</option>
                                    <option>البحر الاحمر</option>
                                    <option>البحيرة</option>
                                    <option>بنى سويف</option>
                                    <option>بورسعيد</option>
                                    <option>جنوب سيناء</option>
                                    <option>الجيزة</option>
                                    <option>الدقهلية</option>
                                    <option>دمياط</option>
                                    <option>سوهاج</option>
                                    <option>السويس</option>
                                    <option>الشرقية</option>
                                    <option>شمال سيناء</option>
                                    <option>الغربية</option>
                                    <option>الفيوم</option>
                                    <option>القليوبية</option>
                                    <option>قنا</option>
                                    <option>كفر الشيخ</option>
                                    <option>مطروح</option>
                                    <option>المنوفية</option>
                                    <option>المنيا</option>
                                    <option>الوادى الجديد</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.area.$dirty && form.area.$error.required }">
                            <label class="col-sm-4 control-label">Area</label>

                            <div class="col-sm-8">
                                <input name="area" id="area" class="form-control" ng-model="vm.patient.area"
                                       required placeholder="Area" type="text">
                            </div>
                        </div>
                        <p ng-show="form.area.$dirty && form.area.$error.required"
                           style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should
                            enter your Area</p>
                    </div>

                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.address.$dirty && form.address.$error.required }">
                            <label class="col-sm-4 control-label">Address</label>

                            <div class="col-sm-8">
                                <input name="address" id="address" class="form-control" ng-model="vm.patient.address"
                                       required placeholder="Address" type="text">
                            </div>
                        </div>
                        <p ng-show="form.address.$dirty && form.address.$error.required"
                           style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should
                            enter your Address</p>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">MaritalStatus</label>

                            <div class="col-sm-8">
                                <select class="form-control" ng-model="vm.patient.maritalStatus">
                                    <option selected>Married</option>
                                    <option>Single</option>
                                    <option>Divorced</option>
                                    <option>Widowed</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.nationalId.$dirty && ( form.nationalId.$error.required ||
                              form.nationalId.$error.minlength || form.nationalId.$error.maxlength)}">
                            <label class="col-sm-4 control-label">National ID</label>

                            <div class="col-sm-8">
                                <input class="form-control" ng-model="vm.patient.nationalId" placeholder="National ID"
                                       required name="nationalId" type="number" MAXLENGTH="14" minlength="14">
                            </div>

                        </div>
                        <p ng-show="form.nationalId.$dirty && form.nationalId.$error.required"
                           style="margin-left:2%; color:#e62222">
                            <i class="fa fa-exclamation-triangle"></i> You should
                            chosee your National Id</p>
                        <p ng-show="form.nationalId.$dirty && form.nationalId.$error.minlength"
                           style="margin-left:2%; color:#e62222">
                            <i class="fa fa-exclamation-triangle"></i> National Id should be 14 number</p>
                        <p ng-show="form.nationalId.$dirty && form.nationalId.$error.maxlength"
                           style="margin-left:2%; color:#e62222">
                            <i class="fa fa-exclamation-triangle">
                            </i> National Id should be 14 number</p>

                    </div>
                    <div class="row">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.offspring.$dirty && form.offspring.$error.required }">
                            <label class="col-sm-4 control-label">offsprings</label>

                            <div class="col-sm-8">
                                <input name="offspring" class="form-control" ng-model="vm.patient.offspring"
                                       placeholder="Offspring"
                                       type="number">
                            </div>
                        </div>
                        <p ng-show="form.offspring.$dirty && form.offspring.$error.required"
                           style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should
                            chosee your Offspring</p>

                    </div>


                    <!--<div class="g-recaptcha" data-sitekey="6Lc0ejkUAAAAAKoUY_egcLHe7BvyFXGJ3gDqkTR6"></div>-->


                    <div class="row">
                        <div class="col-md-8 col-md-offset-4">
                            <!--<button ng-disabled="form.$invalid || vm.dataLoading  || !vm.nameAviable || !vm.emailAviable"-->
                                     <!--class="btn btn-danger" type="submit"-->
                             <!--href="javascript:void(0);" role="button" data-toggle="modal"-->
                               <!--data-target="#reopen_issue" ng-click="vm.sendCode()"-->
                            <!--&gt;-->
                                <!--Sign Up-->
                            <!--</button>-->
                            <button ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" type="submit">
                                Sign Up
                            </button>

                            <img ng-if="vm.dataLoading"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="reopen_issue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Enter Verification Number</h4>
            </div>


            <div class="modal-body">

                    <input type="text" id="verificationNo" ng-model="vm.verificationNo" />

                    <!--<p ng-show="form.verificationNo.$dirty && vm.verified"-->
                    <!--style="margin-left:2%; color:#e62222">-->
                    <!--<i class="fa fa-exclamation-triangle"></i>Not The Same Code</p>-->

                    <button type="button" ng-click="vm.verify()">OK</button>
                    <button type="button"  data-dismiss="modal" aria-label="Close">Cancel</button>

            </div>
        </div>
    </div>
</div>