<!DOCTYPE html>
<html ng-app="app">
<head>

    <meta charset="utf-8"/>
    <title>Health Tag</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="dist/css/Ionicons.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.css">
    <link rel="shortcut icon" href="dist/img/logoslogan2.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130195363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-130195363-1');
    </script>

    <!-- Hotjar Tracking Code for http://www.htag.health -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1365641,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144208046-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-144208046-1');
    </script>
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/iCheck/square/blue.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!--//for combo box with filter-->
    <link rel="stylesheet" href="dist/css/select.css">
    <link rel="stylesheet" href="https://rawgit.com/Foliotek/Croppie/master/croppie.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel='stylesheet' href='dist/css/textAngular.css'/>
    <style>
        h1 small {
            font-size: 60%;
        }

        textarea.ta-bind {
            width: 100%;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- sweet alert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.min.css">


    <!-- Fix for old browsers -->
    <script src="http://nervgh.github.io/js/es5-shim.min.js"></script>
    <script src="http://nervgh.github.io/js/es5-sham.min.js"></script>

    <script src="node_modules/lodash/lodash.js"></script>


    <!-- jQuery 2.2.3 -->
    <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js"></script>
    <script src="dist/js/moment.js"></script>
    <script src="dist/js/script.js"></script>
    <!-- iCheck -->
    <script src="plugins/iCheck/icheck.min.js"></script>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/lodash/select.js"></script>
    <!--//for combo box with filter to be added in files inside the app (downloaded)-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>-->

    <script src="node_modules/angular/textAngular-rangy.min.js"></script>
    <script src="node_modules/angular/textAngular-sanitize.js"></script>
    <script src="node_modules/angular/textAngular.min.js"></script>


</head>

<body class="hold-transition skin-blue sidebar-mini">
<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
     ng-if="flash" ng-bind="flash.message"></div>
<div ng-view></div>
<div ng-if="showLoader" class="loading_body" >
    <div class="loading_spinner">
        <img class="" src="dist/img/loadingspinner2.gif" alt="loadingSpinner" />
    </div>
</div>

<script src="node_modules/angular/angular-route.min.js"></script>
<!--<script src="http://code.angularjs.org/1.5.8/angular-route.min.js"></script>-->
<!--<script src="http://code.angularjs.org/1.5.8/angular-cookies.min.js"></script>-->
<script src="node_modules/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="bower_components/angular-croppie/croppie.js"></script>
<script type="text/javascript" src="bower_components/angular-croppie/angular-croppie.js"></script>

<script src="app.js"></script>
<script src="app-services/authentication.service.js"></script>
<script src="app-services/flash.service.js"></script>

<!-- Real user service that uses an api -->
<script src="app-services/user.service.js"></script>
<script src="app-services/patient.js"></script>
<script src="app-services/doctor.js"></script>
<script src="app-services/assistant.js"></script>
<script src="app-services/clinic.js"></script>
<script src="app-services/cardService.js"></script>
<script src="app-services/configService.js"></script>
<script src="app-services/pharmacies.js"></script>
<script src="app-services/laps.js"></script>
<script src="app-services/radiations.js"></script>
<script src="app-services/examinationSheet.js"></script>
<script src="app-services/values.js"></script>
<script src="app-services/serach.js"></script>
<script type="text/javascript" src="bower_components/angular-date-dropdowns/demo/lib.js"></script>

<!-- Fake user service for demo that uses local storage -->
<!--<script src="app-services/user.service.local-storage.js"></script>-->
<!--<script src="node_modules/angular-file-upload/examples/console-sham.js"></script>-->

<!--<script src="../bower_components/angular/angular.js"></script>-->
<script src="node_modules/angular-file-upload/dist/angular-file-upload.min.js"></script>

<!--<script src="node_modules/angular-file-upload/examples/simple/controllers.js"></script>-->
<script src="bower_components/bc-qr-reader/demo/demoController.js"></script>
<script src="app-controllers/doctorController/home.controller.js"></script>
<script src="app-controllers/doctorController/DoctorLogController.js"></script>
<script src="app-controllers/doctorController/DoctorLogControllerAR.js"></script>
<script src="app-controllers/doctorController/DoctorProfileController.js"></script>
<script src="app-controllers/doctorController/doctor.controller.js"></script>
<script src="app-controllers/doctorController/head.controller.js"></script>
<script src="app-controllers/assistantController/assistant.controller.js"></script>
<script src="app-controllers/clinicController/clinic.controller.js"></script>
<script src="app-controllers/patientController/PatientController.js"></script>
<script src="app-controllers/patientController/PatientLogController.js"></script>
<script src="app-controllers/patientController/PatientHomeController.js"></script>
<script src="app-controllers/patientController/PatientHomeControllerAR.js"></script>
<script src="app-controllers/patientController/PatientHeadController.js"></script>
<script src="app-controllers/patientController/PatientHeadControllerAR.js"></script>
<script src="app-controllers/examinationSheet/examinationSheetController.js"></script>
<script src="app-controllers/examinationSheet/examinationSheetHeadController.js"></script>
<script src="app-controllers/registerController/register.controller.js"></script>
<script src="app-controllers/loginController/login.controller.js"></script>
<script src="app-controllers/pharmaciesController/pharmacies.controller.js"></script>
<script src="app-controllers/pharmaciesController/pharmacyHead.controller.js"></script>
<script src="app-controllers/lapsController/laps.controller.js"></script>
<script src="app-controllers/radiationsController/radiations.controller.js"></script>
<script src="app-controllers/radiationsController/radiationsHead.controller.js"></script>
<script src="app-controllers/lapsController/lapHead.controller.js"></script>
<script src="app-controllers/landingController/landingController.js"></script>
<script src="app-controllers/patientController/PatientHistoryController.js"></script>
<script src="app-controllers/patientController/PatientHistoryControllerAR.js"></script>
<script src="bower_components/angular-date-dropdowns/directive.js"></script>
<script src="app-directives/myEnter.js"></script>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>


</body>
</html>